<a href="https://colab.research.google.com/github/KdrDrn-C8301Sam/01-DAwPy-NumPy/blob/main/01_01_Preparing_The_Data_For_Analysis(Student_C8301_Sam).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style='text-align: center;'>Traffic Police Stops<br>Part - 1</p><h1> - Preparing The Data For Analysis <img src='https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki' class='img-fluid' alt='CLRSWY' width='200' height='100'>

Before beginning your analysis, it is critical that you first examine and clean the dataset, to make working with it a more efficient process. You will practice fixing data types, handling missing values, and dropping columns and rows while learning about the Stanford Open Policing Project dataset.

***

## Examining the dataset

You'll be analyzing a dataset of traffic stops in Rhode Island that was collected by the Stanford Open Policing Project.

Before beginning your analysis, it's important that you familiarize yourself with the dataset. You'll read the dataset into pandas, examine the first few rows, and then count the number of missing values.

**INSTRUCTIONS**

*   Import related libraries with their alias.
*   Read the file RI_cleaned.csv into a DataFrame named ``ri``
*   Examine the first 5 rows of the ``DataFrame`` (known as the ``"head"``).
*   Examine the last 5 rows of the ``DataFrame`` (known as the ``"tail"``).
*   Examine the ``DataFrame``'s ``"columns"``.
*   Count the number of missing values in each column: Use ``.isnull()`` to check which ``DataFrame`` elements are missing, and then take the ``.sum()`` to count the number of ``True`` values in each column.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

**Since the dataset has 509681 rows, you can work with the first 50000 rows if you wish.**

In [2]:
ri = pd.read_csv("RI_cleaned.csv")

C:\Users\federal\AppData\Local\Temp\ipykernel_9552\3903740968.py:1: DtypeWarning: Columns (8,16) have mixed types. Specify dtype option on import or set low_memory=False.
  ri = pd.read_csv("RI_cleaned.csv")

In [3]:
ri.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [6]:
ri.state.unique()

array(['RI'], dtype=object)

In [5]:
ri.tail()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
509676,RI-NA-06,RI,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA
509677,RI-NA-07,RI,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA
509678,RI-NA-08,RI,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA
509679,RI-NA-09,RI,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA
509680,RI-NA-10,RI,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA

In [4]:
ri.columns

Index(['id', 'state', 'stop_date', 'stop_time', 'location_raw', 'county_name',
       'county_fips', 'fine_grained_location', 'police_department',
       'driver_gender', 'driver_age_raw', 'driver_age', 'driver_race_raw',
       'driver_race', 'violation_raw', 'violation', 'search_conducted',
       'search_type_raw', 'search_type', 'contraband_found', 'stop_outcome',
       'is_arrested', 'stop_duration', 'out_of_state', 'drugs_related_stop',
       'district'],
      dtype='object')

In [10]:
ri.shape

(509681, 26)

In [14]:
ri.isnull().sum() / ri.shape[0] * 100

id                         0.000000
state                      0.000000
stop_date                  0.001962
stop_time                  0.001962
location_raw               0.000000
county_name              100.000000
county_fips              100.000000
fine_grained_location    100.000000
police_department          0.001962
driver_gender              5.708865
driver_age_raw             5.699447
driver_age                 6.022394
driver_race_raw            5.704156
driver_race                5.704156
violation_raw              5.704156
violation                  5.704156
search_conducted           0.001962
search_type_raw           96.515075
search_type               96.515075
contraband_found           0.000000
stop_outcome               5.704156
is_arrested                5.704156
stop_duration              5.704156
out_of_state               5.862687
drugs_related_stop         0.000000
district                   0.000000
dtype: float64

In [12]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509681 entries, 0 to 509680
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     509681 non-null  object
 1   state                  509681 non-null  object
 2   stop_date              509671 non-null  object
 3   stop_time              509671 non-null  object
 4   location_raw           509681 non-null  object
 5   county_name            0 non-null       float64
 6   county_fips            0 non-null       float64
 7   fine_grained_location  0 non-null       float64
 8   police_department      509671 non-null  object
 9   driver_gender          480584 non-null  object
 10  driver_age_raw         480632 non-null  float64
 11  driver_age             478986 non-null  float64
 12  driver_race_raw        480608 non-null  object
 13  driver_race            480608 non-null  object
 14  violation_raw          480608 non-null  object
 15  violation              480608 non-null  object
 16  search_conducted       509671 non-null  object
 17  search_type_raw        17762 non-null   object
 18  search_type            17762 non-null   object
 19  contraband_found       509681 non-null  bool
 20  stop_outcome           480608 non-null  object
 21  is_arrested            480608 non-null  object
 22  stop_duration          480608 non-null  object
 23  out_of_state           479800 non-null  object
 24  drugs_related_stop     509681 non-null  bool
 25  district               509681 non-null  object
dtypes: bool(2), float64(5), object(19)
memory usage: 94.3+ MB

In [15]:
ri.describe()

,county_name,county_fips,fine_grained_location,driver_age_raw,driver_age
count,0.0,0.0,0.0,480632.000000,478986.000000
mean,NaN,NaN,NaN,1970.509997,33.982027
std,NaN,NaN,NaN,108.187159,12.702864
min,NaN,NaN,NaN,0.000000,15.000000
25%,NaN,NaN,NaN,1967.000000,23.000000
50%,NaN,NaN,NaN,1980.000000,31.000000
75%,NaN,NaN,NaN,1987.000000,43.000000
max,NaN,NaN,NaN,8801.000000,99.000000

In [21]:
ri[["driver_age_raw", "driver_age"]].sample(20)

        driver_age_raw  driver_age
427074          1971.0        43.0
434117          1969.0        45.0
99222              NaN         NaN
474016          1965.0        50.0
190660          1987.0        22.0
19706           1980.0        26.0
409801          1960.0        53.0
279561          1989.0        22.0
490144          1989.0        26.0
31813           1978.0        28.0
303151          1958.0        53.0
294603          1986.0        25.0
19710           1986.0        20.0
307490          1976.0        36.0
446086          1993.0        21.0
476701          1983.0        32.0
476516          1979.0        36.0
366480          1973.0        39.0
9561            1977.0        28.0
496055          1990.0        25.0

In [22]:
object_col = ri.select_dtypes(include="O").columns
object_col

Index(['id', 'state', 'stop_date', 'stop_time', 'location_raw',
       'police_department', 'driver_gender', 'driver_race_raw', 'driver_race',
       'violation_raw', 'violation', 'search_conducted', 'search_type_raw',
       'search_type', 'stop_outcome', 'is_arrested', 'stop_duration',
       'out_of_state', 'district'],
      dtype='object')

In [23]:
for feature in object_col:
    print(feature)
    print("---"*8)
    print(ri[feature].value_counts(dropna=False))
    print("---"*20)

id
------------------------
RI-2005-00001    1
RI-2012-33502    1
RI-2012-33515    1
RI-2012-33514    1
RI-2012-33513    1
                ..
RI-2008-44265    1
RI-2008-44264    1
RI-2008-44263    1
RI-2008-44262    1
RI-NA-10         1
Name: id, Length: 509681, dtype: int64
------------------------------------------------------------
state
------------------------
RI    509681
Name: state, dtype: int64
------------------------------------------------------------
stop_date
------------------------
2015-09-05    302
2006-05-21    302
2006-06-13    293
2012-01-08    292
2005-11-05    290
             ...
2005-06-04      1
2005-05-21      1
2005-05-11      1
2005-04-24      1
2005-07-28      1
Name: stop_date, Length: 3810, dtype: int64
------------------------------------------------------------
stop_time
------------------------
10:00    1763
11:00    1759
09:00    1644
10:30    1625
09:30    1489
         ...
04:52       8
05:21       8
05:39       8
05:09       7
05:22       7
Name: stop_time, Length: 1441, dtype: int64
------------------------------------------------------------
location_raw
------------------------
Zone X4    135349
Zone K3    113784
Zone K2    101403
Zone X3     94058
Zone K1     48362
Zone X1     16715
Zone NA        10
Name: location_raw, dtype: int64
------------------------------------------------------------
police_department
------------------------
500    113927
300     92163
900     83232
200     74222
600     31129
        ...
009         1
20          1
MA          1
K2          1
120         1
Name: police_department, Length: 74, dtype: int64
------------------------------------------------------------
driver_gender
------------------------
M      349446
F      131138
NaN     29097
Name: driver_gender, dtype: int64
------------------------------------------------------------
driver_race_raw
------------------------
W      344734
B       68579
H       44048
NaN     29073
I       12826
L        9077
O         814
N         530
Name: driver_race_raw, dtype: int64
------------------------------------------------------------
driver_race
------------------------
White       344734
Black        68579
Hispanic     53125
NaN          29073
Asian        12826
Other         1344
Name: driver_race, dtype: int64
------------------------------------------------------------
violation_raw
------------------------
Speeding                            268744
Other Traffic Violation              90234
Equipment/Inspection Violation       61252
NaN                                  29073
Registration Violation               19830
Seatbelt Violation                   16327
Special Detail/Directed Patrol       13642
Call for Service                      7609
Violation of City/Town Ordinance      1036
Motorist Assist/Courtesy               990
APB                                    485
Suspicious Person                      342
Warrant                                117
Name: violation_raw, dtype: int64
------------------------------------------------------------
violation
------------------------
Speeding               268744
Moving violation        90234
Equipment               61252
NaN                     29073
Other                   24221
Registration/plates     19830
Seat belt               16327
Name: violation, dtype: int64
------------------------------------------------------------
search_conducted
------------------------
False    491909
True      17762
NaN          10
Name: search_conducted, dtype: int64
------------------------------------------------------------
search_type_raw
------------------------
NaN                                                         491919
Incident to Arrest                                            6998
Probable Cause                                                2063
Odor of Drugs/Alcohol                                         1872
Reasonable Suspicion                                          1141
                                                             ...
Inventory/Tow,Odor of Drugs/Alcohol,Reasonable Suspicion         5
Inventory/Tow,Odor of Drugs/Alcohol,Terry Frisk                  3
Inventory/Tow,Probable Cause,Reasonable Suspicion                3
Plain View,Reasonable Suspicion,Terry Frisk                      2
Inventory/Tow,Reasonable Suspicion,Terry Frisk                   1
Name: search_type_raw, Length: 61, dtype: int64
------------------------------------------------------------
search_type
------------------------
NaN                                                         491919
Incident to Arrest                                            6998
Probable Cause                                                4989
Reasonable Suspicion                                          1141
Inventory                                                     1101
Protective Frisk                                               879
Incident to Arrest,Inventory                                   649
Incident to Arrest,Probable Cause                              552
Probable Cause,Reasonable Suspicion                            334
Probable Cause,Protective Frisk                                221
Incident to Arrest,Protective Frisk                            158
Incident to Arrest,Inventory,Probable Cause                    151
Inventory,Probable Cause                                       132
Protective Frisk,Reasonable Suspicion                           83
Incident to Arrest,Inventory,Protective Frisk                   77
Incident to Arrest,Probable Cause,Protective Frisk              74
Inventory,Protective Frisk                                      52
Incident to Arrest,Reasonable Suspicion                         49
Probable Cause,Protective Frisk,Reasonable Suspicion            31
Incident to Arrest,Probable Cause,Reasonable Suspicion          31
Inventory,Reasonable Suspicion                                  17
Inventory,Probable Cause,Protective Frisk                       14
Incident to Arrest,Inventory,Reasonable Suspicion               12
Incident to Arrest,Protective Frisk,Reasonable Suspicion         8
Inventory,Probable Cause,Reasonable Suspicion                    8
Inventory,Protective Frisk,Reasonable Suspicion                  1
Name: search_type, dtype: int64
------------------------------------------------------------
stop_outcome
------------------------
Citation            428388
NaN                  29073
Warning              28849
Arrest Driver        14630
N/D                   3431
No Action             3337
Arrest Passenger      1973
Name: stop_outcome, dtype: int64
------------------------------------------------------------
is_arrested
------------------------
False    464005
NaN       29073
True      16603
Name: is_arrested, dtype: int64
------------------------------------------------------------
stop_duration
------------------------
0-15 Min     386665
16-30 Min     76323
NaN           29073
30+ Min       17614
1                 5
2                 1
Name: stop_duration, dtype: int64
------------------------------------------------------------
out_of_state
------------------------
False    321276
True     158524
NaN       29881
Name: out_of_state, dtype: int64
------------------------------------------------------------
district
------------------------
Zone X4    135349
Zone K3    113784
Zone K2    101403
Zone X3     94058
Zone K1     48362
Zone X1     16715
Zone NA        10
Name: district, dtype: int64
------------------------------------------------------------

***

## Dropping columns

Often, a DataFrame will contain columns that are not useful to your analysis. Such columns should be dropped from the ``DataFrame``, to make it easier for you to focus on the remaining columns.

You'll drop the ``county_name`` column because it only contains missing values, and you'll drop the ``state`` column because all of the traffic stops took place in one state (Rhode Island). Thus, these columns can be dropped because they contain no useful information.

**INSTRUCTIONS**

*   Examine the ``DataFrame``'s shape to find out the number of rows and columns.

*   Drop the columns that almost consist of missing values. 

*   Examine the ``.shape`` again to verify that there are now two fewer columns.

In [24]:
ri.shape

(509681, 26)

In [25]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509681 entries, 0 to 509680
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     509681 non-null  object
 1   state                  509681 non-null  object
 2   stop_date              509671 non-null  object
 3   stop_time              509671 non-null  object
 4   location_raw           509681 non-null  object
 5   county_name            0 non-null       float64
 6   county_fips            0 non-null       float64
 7   fine_grained_location  0 non-null       float64
 8   police_department      509671 non-null  object
 9   driver_gender          480584 non-null  object
 10  driver_age_raw         480632 non-null  float64
 11  driver_age             478986 non-null  float64
 12  driver_race_raw        480608 non-null  object
 13  driver_race            480608 non-null  object
 14  violation_raw          480608 non-null  object
 15  violation              480608 non-null  object
 16  search_conducted       509671 non-null  object
 17  search_type_raw        17762 non-null   object
 18  search_type            17762 non-null   object
 19  contraband_found       509681 non-null  bool
 20  stop_outcome           480608 non-null  object
 21  is_arrested            480608 non-null  object
 22  stop_duration          480608 non-null  object
 23  out_of_state           479800 non-null  object
 24  drugs_related_stop     509681 non-null  bool
 25  district               509681 non-null  object
dtypes: bool(2), float64(5), object(19)
memory usage: 94.3+ MB

In [26]:
ri.drop(columns=["state", "county_name", "county_fips", "fine_grained_location"], inplace=True)

In [28]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509681 entries, 0 to 509680
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  509681 non-null  object
 1   stop_date           509671 non-null  object
 2   stop_time           509671 non-null  object
 3   location_raw        509681 non-null  object
 4   police_department   509671 non-null  object
 5   driver_gender       480584 non-null  object
 6   driver_age_raw      480632 non-null  float64
 7   driver_age          478986 non-null  float64
 8   driver_race_raw     480608 non-null  object
 9   driver_race         480608 non-null  object
 10  violation_raw       480608 non-null  object
 11  violation           480608 non-null  object
 12  search_conducted    509671 non-null  object
 13  search_type_raw     17762 non-null   object
 14  search_type         17762 non-null   object
 15  contraband_found    509681 non-null  bool
 16  stop_outcome        480608 non-null  object
 17  is_arrested         480608 non-null  object
 18  stop_duration       480608 non-null  object
 19  out_of_state        479800 non-null  object
 20  drugs_related_stop  509681 non-null  bool
 21  district            509681 non-null  object
dtypes: bool(2), float64(2), object(18)
memory usage: 78.7+ MB

In [29]:
ri.isnull().sum()

id                         0
stop_date                 10
stop_time                 10
location_raw               0
police_department         10
driver_gender          29097
driver_age_raw         29049
driver_age             30695
driver_race_raw        29073
driver_race            29073
violation_raw          29073
violation              29073
search_conducted          10
search_type_raw       491919
search_type           491919
contraband_found           0
stop_outcome           29073
is_arrested            29073
stop_duration          29073
out_of_state           29881
drugs_related_stop         0
district                   0
dtype: int64

In [ ]:
#ri(ri.columns[ri.apply(lambda col: col.isnull().sum()/len(ri) == 1)], axis=1, inplace=True) yüzde yüzü null değer içeren değerleri siliyor.

***

## Dropping rows

When you know that a specific column will be critical to your analysis, and only a small fraction of rows are missing a value in that column, it often makes sense to remove those rows from the dataset.

During this course, the ``driver_gender`` column will be critical to many of your analyses. Because only a small fraction of rows are missing ``driver_gender``, we'll drop those rows from the dataset.

**INSTRUCTIONS**

*   Count the number of missing values in each column.

*   Drop all rows that are missing ``driver_gender`` by passing the column name to the subset parameter of ``.dropna()``.
*   Count the number of missing values in each column again, to verify that none of the remaining rows are missing ``driver_gender``.
*   Examine the ``DataFrame``'s ``.shape`` to see how many rows and columns remain.

In [30]:
ri.isnull().sum()

id                         0
stop_date                 10
stop_time                 10
location_raw               0
police_department         10
driver_gender          29097
driver_age_raw         29049
driver_age             30695
driver_race_raw        29073
driver_race            29073
violation_raw          29073
violation              29073
search_conducted          10
search_type_raw       491919
search_type           491919
contraband_found           0
stop_outcome           29073
is_arrested            29073
stop_duration          29073
out_of_state           29881
drugs_related_stop         0
district                   0
dtype: int64

In [31]:
ri.dropna(axis=0, subset=["driver_gender"], inplace=True)
#ri["driver_gender"].dropna(axis=0, inplace=True)

In [32]:
ri.isnull().sum()

id                         0
stop_date                  0
stop_time                  0
location_raw               0
police_department          0
driver_gender              0
driver_age_raw             1
driver_age              1638
driver_race_raw            0
driver_race                0
violation_raw              0
violation                  0
search_conducted           0
search_type_raw       462822
search_type           462822
contraband_found           0
stop_outcome               0
is_arrested                0
stop_duration              0
out_of_state             808
drugs_related_stop         0
district                   0
dtype: int64

In [33]:
ri.shape

(480584, 22)

***

## Fixing a data type

We know that the ``is_arrested`` column currently has the ``object`` data type. In this exercise, we'll change the data type to ``bool``, which is the most suitable type for a column containing ``True`` and ``False`` values.

Fixing the data type will enable us to use mathematical operations on the ``is_arrested`` column that would not be possible otherwise.

**INSTRUCTIONS**

*   Examine the values of the ``is_arrested`` column to verify that it contains ``True`` and ``False`` values.
*   Check the current data type of ``is_arrested``.
*   Use the ``.astype()`` method to convert ``is_arrested`` to a ``bool`` column.
*   Check the new data type of ``is_arrested``, to confirm that it is now a ``bool`` column.

In [35]:
ri.is_arrested.info()

<class 'pandas.core.series.Series'>
Int64Index: 480584 entries, 0 to 509670
Series name: is_arrested
Non-Null Count   Dtype
--------------   -----
480584 non-null  object
dtypes: object(1)
memory usage: 7.3+ MB

In [36]:
ri["is_arrested"] = ri["is_arrested"].astype("bool")

In [37]:
ri.is_arrested.info()

<class 'pandas.core.series.Series'>
Int64Index: 480584 entries, 0 to 509670
Series name: is_arrested
Non-Null Count   Dtype
--------------   -----
480584 non-null  bool
dtypes: bool(1)
memory usage: 4.1 MB

***

## Combining object columns

Currently, the date and time of each traffic stop are stored in separate object columns: ``stop_date`` and ``stop_time``.

You'll combine these two columns into a single column, and then convert it to ``datetime`` format. This will enable convenient date-based attributes that we'll use later in the course.

**INSTRUCTIONS**

*    Get the first row of the data frame and see the dtypes of ``stop_date`` and ``stop_time`` columns.
*    Use a string method to concatenate ``stop_date`` and ``stop_time`` (separated by a space), and store the result in ``combined``.
*    Convert ``combined`` to ``datetime`` format, and store the result in a new column named ``stop_datetime``.
*    Drop ``stop_date`` and ``stop_time`` columns from dataframe and check after dropping by getting first row.
*    Examine the ``DataFrame`` ``.dtypes`` to confirm that ``stop_datetime`` is a datetime column.

In [41]:
ri[["stop_date", "stop_time"]].head(1)

    stop_date stop_time
0  2005-01-02     01:55

In [42]:
ri[["stop_date", "stop_time"]].head(1).dtypes

stop_date    object
stop_time    object
dtype: object

In [ ]:
ri["stop_datetime"] = pd.concat(ri[["stop_date"]], ri[["stop_time"]])
#bu concat ile nasıl yapılır bak

In [46]:
# combined = ri.stop_date.str.cat(ri.stop_time, sep = ' ')
ri["stop_datetime"] = ri['stop_date'] + ' ' + ri['stop_time']
ri["stop_datetime"]

0         2005-01-02 01:55
1         2005-01-02 20:30
3         2005-01-04 12:55
4         2005-01-06 01:30
5         2005-01-12 08:05
                ...
509666    2015-12-31 22:46
509667    2015-12-31 22:47
509668    2015-12-31 23:08
509669    2015-12-31 23:44
509670    2015-12-31 23:48
Name: stop_datetime, Length: 480584, dtype: object

In [48]:
ri["stop_datetime"]= pd.to_datetime(ri.stop_datetime)

In [49]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480584 entries, 0 to 509670
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  480584 non-null  object
 1   stop_date           480584 non-null  object
 2   stop_time           480584 non-null  object
 3   location_raw        480584 non-null  object
 4   police_department   480584 non-null  object
 5   driver_gender       480584 non-null  object
 6   driver_age_raw      480583 non-null  float64
 7   driver_age          478946 non-null  float64
 8   driver_race_raw     480584 non-null  object
 9   driver_race         480584 non-null  object
 10  violation_raw       480584 non-null  object
 11  violation           480584 non-null  object
 12  search_conducted    480584 non-null  object
 13  search_type_raw     17762 non-null   object
 14  search_type         17762 non-null   object
 15  contraband_found    480584 non-null  bool
 16  stop_outcome        480584 non-null  object
 17  is_arrested         480584 non-null  bool
 18  stop_duration       480584 non-null  object
 19  out_of_state        479776 non-null  object
 20  drugs_related_stop  480584 non-null  bool
 21  district            480584 non-null  object
 22  stop_datetime       480584 non-null  datetime64[ns]
dtypes: bool(3), datetime64[ns](1), float64(2), object(17)
memory usage: 78.4+ MB

In [50]:
ri.drop(columns=["stop_date","stop_time"],inplace=True)

***

The last step that you'll take in this chapter is to set the ``stop_datetime`` column as the ``DataFrame``'s index. By replacing the default index with a ``DatetimeIndex``, you'll make it easier to analyze the dataset by date and time, which will come in handy later in the course.

**INSTRUCTIONS**

*   First check out the shape of the dataframe.
*   Set ``stop_datetime`` as the ``DataFrame`` index.
*   Examine the index to verify that it is a ``DatetimeIndex``.
*   Check again the shape of the dataframe to confirm that ``stop_datetime`` is no longer one of the columns. 
*   Examine the ``DataFrame`` columns to confirm that ``stop_datetime`` is no longer one of the columns.

In [53]:
ri.shape

(480584, 21)

In [54]:
ri.set_index("stop_datetime", inplace=True)
#ri.reset_index()

In [55]:
ri.head()

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,Zone X4,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,Equipment,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,Zone X4,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,Equipment,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,Zone X1,0,M,1973.0,32.0,B,Black,Call for Service,Other,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

In [56]:
ri.columns

Index(['id', 'location_raw', 'police_department', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race_raw', 'driver_race',
       'violation_raw', 'violation', 'search_conducted', 'search_type_raw',
       'search_type', 'contraband_found', 'stop_outcome', 'is_arrested',
       'stop_duration', 'out_of_state', 'drugs_related_stop', 'district'],
      dtype='object')

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

**- Please save the edits made so far to a new csv file with the name RI_Part_1 to use it in the next step.**

**- Load and read new csv file.**

**- Check the first five rows.***

**- Check the shape of the dataframe.**

In [57]:
ri.to_csv("RI_Part_1.csv", index_label=False)

In [58]:
ri1 = pd.read_csv("RI_Part_1.csv")

C:\Users\federal\AppData\Local\Temp\ipykernel_9552\3114220217.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  ri1 = pd.read_csv("RI_Part_1.csv")

In [59]:
ri1.head()

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,Zone X4,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,Equipment,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,Zone X4,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,Equipment,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,Zone X1,0,M,1973.0,32.0,B,Black,Call for Service,Other,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

In [60]:
ri1.shape

(480584, 20)