___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

# PART- 2 `( Handling With Missing Values )`

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")
warnings.warn("this will not show")

plt.rcParams["figure.figsize"] = (10, 6)
sns.set_style("whitegrid")

pd.set_option("display.float_format", lambda x: "%.3f" % x)

# Set it None to display all rows in the dataframe
# pd.set_option(‘display.max_rows’, None)

# Set it to None to display all columns in the dataframe
pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_csv("cleaned_autoscout.csv")

In [3]:
df.sample(5).T

,10499,9718,6200,4845,9322
short_description,ST 1.6 CDTI ecoFLEX *NAVI~ 2x PDC~ LED*,1.2 5 porte b-Color,1.6 CDTi 110 CV S&S 5p. Business,"SB 1,6 TDI design",1.4 Automatik 120 Jahre (E)
body_type,Station wagon,Sedans,Sedans,Sedans,Compact
price_€,9350.000,9900.000,10200.000,20990.000,13990.000
vat,VAT deductible,NaN,VAT deductible,NaN,VAT deductible
km,147000.000,22264.000,105350.000,21425.000,2159.000
registration,2016.000,2018.000,2016.000,2018.000,2019.000
prev_owner,1.000,1.000,1.000,1.000,1.000
hp_kW,100.000,51.000,60.000,85.000,66.000
type,Used,Used,Used,Employee's car,Used
previous_owners,1.000,1.000,1.000,1.000,1.000
warranty,NaN,NaN,24.000,NaN,NaN
make,Opel,Opel,Opel,Audi,Opel
model,Insignia,Corsa,Astra,A3,Corsa
body_color,Black,Grey,Blue,White,White
paint_type,Metallic,Metallic,Metallic,Metallic,NaN
body_color_original,NaN,NaN,NaN,NaN,Schneeweiß
upholstery,Cloth,Cloth,Cloth,Part leather,Cloth
nr_of_doors,5.000,5.000,5.000,5.000,3.000
nr_of_seats,5.000,5.000,5.000,5.000,5.000
gearing_type,Manual,Manual,Manual,Manual,Automatic
engine_displacement_cc,1598.000,1229.000,1598.000,1598.000,1398.000
cylinders,4.000,4.000,4.000,4.000,4.000
weight_kg,1701.000,1163.000,1360.000,1335.000,1163.000
drive_chain,\nfront\n,NaN,\nfront\n,\nfront\n,\nfront\n
fuel,Diesel,Gasoline,Diesel,Diesel,Super 95
co2e_g,104.000,124.000,NaN,108.000,136.000
emission_class,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6d-TEMP
comfort&convenience,"Air conditioning,Armrest,Automatic climate con...","Air conditioning,Cruise control,Electrical sid...","Air conditioning,Cruise control,Electrical sid...","Air conditioning,Automatic climate control,Cru...","Air conditioning,Cruise control,Electrically h..."
entertainment&media,"Bluetooth,CD player,Hands-free equipment,MP3,O...","CD player,Digital radio,Radio","Hands-free equipment,MP3,On-board computer,USB","Bluetooth,CD player,Hands-free equipment,MP3,O...","Bluetooth,Hands-free equipment,MP3,On-board co..."
extras,"Alloy wheels,Roof rack,Touch screen",Alloy wheels,NaN,"Alloy wheels,Catalytic Converter","Alloy wheels,Cab or rented Car,Touch screen,Vo..."
safety_&_security,"ABS,Alarm system,Central door lock,Central doo...","ABS,Central door lock,Central door lock with r...","ABS,Central door lock,Driver-side airbag,Elect...","ABS,Adaptive headlights,Central door lock,Cent...","ABS,Central door lock,Daytime running lights,D..."
gears,6.000,5.000,6.000,6.000,6.000
country_version,Germany,Italy,Italy,Austria,Germany
consumption_comb,3.900,5.300,NaN,NaN,5.900
consumption_city,4.600,6.600,NaN,4.500,7.500
consumption_country,3.600,4.500,NaN,3.700,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   short_description       15873 non-null  object
 1   body_type               15859 non-null  object
 2   price_€                 15919 non-null  float64
 3   vat                     11406 non-null  object
 4   km                      14895 non-null  float64
 5   registration            14322 non-null  float64
 6   prev_owner              9091 non-null   float64
 7   hp_kW                   15831 non-null  float64
 8   type                    15917 non-null  object
 9   previous_owners         9279 non-null   float64
 10  warranty                4853 non-null   float64
 11  make                    15919 non-null  object
 12  model                   15919 non-null  object
 13  body_color              15322 non-null  object
 14  paint_type              10147 non-null  object
 15  body_color_original     12145 non-null  object
 16  upholstery              12199 non-null  object
 17  nr_of_doors             15707 non-null  float64
 18  nr_of_seats             14942 non-null  float64
 19  gearing_type            15919 non-null  object
 20  engine_displacement_cc  15423 non-null  float64
 21  cylinders               10239 non-null  float64
 22  weight_kg               8945 non-null   float64
 23  drive_chain             9061 non-null   object
 24  fuel                    15919 non-null  object
 25  co2e_g                  13477 non-null  float64
 26  emission_class          12291 non-null  object
 27  comfort&convenience     14999 non-null  object
 28  entertainment&media     14545 non-null  object
 29  extras                  12957 non-null  object
 30  safety_&_security       14937 non-null  object
 31  gears                   11207 non-null  float64
 32  country_version         7586 non-null   object
 33  consumption_comb        12129 non-null  float64
 34  consumption_city        11880 non-null  float64
 35  consumption_country     12554 non-null  float64
dtypes: float64(17), object(19)
memory usage: 4.4+ MB

In [5]:
df.shape

(15919, 36)

In [6]:
df.isnull().sum()

short_description            46
body_type                    60
price_€                       0
vat                        4513
km                         1024
registration               1597
prev_owner                 6828
hp_kW                        88
type                          2
previous_owners            6640
warranty                  11066
make                          0
model                         0
body_color                  597
paint_type                 5772
body_color_original        3774
upholstery                 3720
nr_of_doors                 212
nr_of_seats                 977
gearing_type                  0
engine_displacement_cc      496
cylinders                  5680
weight_kg                  6974
drive_chain                6858
fuel                          0
co2e_g                     2442
emission_class             3628
comfort&convenience         920
entertainment&media        1374
extras                     2962
safety_&_security           982
gears                      4712
country_version            8333
consumption_comb           3790
consumption_city           4039
consumption_country        3365
dtype: int64

In [7]:
df.duplicated().value_counts()

False    14476
True      1443
dtype: int64

In [8]:
# df.drop_duplicates(keep="first", inplace=True)
# Aynı özellikte birden fazla araç olabileceğinden duplicate değerleri düşmedik.

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
price_€,15919.000,18019.897,7386.169,13.000,12850.000,16900.000,21900.000,74600.000
km,14895.000,34130.128,37352.978,0.000,5153.000,22740.000,49371.500,317000.000
registration,14322.000,2017.458,1.077,2016.000,2016.000,2018.000,2018.000,2019.000
prev_owner,9091.000,1.090,0.295,1.000,1.000,1.000,1.000,4.000
hp_kW,15831.000,88.368,26.835,1.000,66.000,85.000,101.000,294.000
previous_owners,9279.000,1.068,0.330,0.000,1.000,1.000,1.000,4.000
warranty,4853.000,21.927,15.771,1.000,12.000,12.000,24.000,72.000
nr_of_doors,15707.000,4.656,0.645,1.000,4.000,5.000,5.000,7.000
nr_of_seats,14942.000,4.950,0.490,2.000,5.000,5.000,5.000,7.000
engine_displacement_cc,15423.000,1423.541,333.531,1.000,1229.000,1461.000,1598.000,16000.000
cylinders,10239.000,3.797,0.415,1.000,4.000,4.000,4.000,8.000
weight_kg,8945.000,1351.107,220.662,1.000,1165.000,1288.000,1487.000,2471.000
co2e_g,13477.000,123.794,270.000,14.000,104.000,116.000,129.000,14457.000
gears,11207.000,5.925,0.848,1.000,5.000,6.000,6.000,50.000
consumption_comb,12129.000,4.861,0.906,1.200,4.200,4.800,5.500,13.800
consumption_city,11880.000,5.973,1.409,3.300,4.700,5.800,7.100,19.900
consumption_country,12554.000,4.214,0.676,2.900,3.700,4.200,4.600,10.300

In [10]:
df.describe(include="O").T

,count,unique,top,freq
short_description,15873,10001,SPB 1.6 TDI 116 CV S tronic Sport,64
body_type,15859,9,Sedans,7903
vat,11406,2,VAT deductible,10980
type,15917,5,Used,11096
make,15919,3,Opel,7343
model,15919,9,A3,3097
body_color,15322,14,Black,3745
paint_type,10147,3,Metallic,9794
body_color_original,12145,1926,Onyx Schwarz,338
upholstery,12199,6,Cloth,9206
gearing_type,15919,3,Manual,8153
drive_chain,9061,3,\nfront\n,8886
fuel,15919,14,Diesel,7299
emission_class,12291,6,Euro 6,10139
comfort&convenience,14999,6198,"Air conditioning,Electrical side mirrors,Hill ...",216
entertainment&media,14545,346,"Bluetooth,Hands-free equipment,On-board comput...",1282
extras,12957,659,Alloy wheels,3245
safety_&_security,14937,4443,"ABS,Central door lock,Daytime running lights,D...",538
country_version,7586,23,Germany,4502

In [11]:
# drive_chain column is incorrect.
# Now lets fix it.

In [12]:
df.drive_chain.value_counts()

\nfront\n    8886
\n4WD\n       171
\nrear\n        4
Name: drive_chain, dtype: int64

In [13]:
df.drive_chain = df.drive_chain.str.strip("\n")

In [14]:
df.drive_chain.value_counts(dropna=False)

front    8886
NaN      6858
4WD       171
rear        4
Name: drive_chain, dtype: int64

In [15]:
# Age column create

In [16]:
age = 2019 - df.registration
age.value_counts(dropna=False)

1.000    4522
3.000    3674
2.000    3273
0.000    2853
NaN      1597
Name: registration, dtype: int64

In [17]:
df["age"] = age

In [18]:
# we dropped registiration and short_description because now they are useless for us.

In [19]:
df.drop(["registration", "short_description"], axis=1, inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   body_type               15859 non-null  object
 1   price_€                 15919 non-null  float64
 2   vat                     11406 non-null  object
 3   km                      14895 non-null  float64
 4   prev_owner              9091 non-null   float64
 5   hp_kW                   15831 non-null  float64
 6   type                    15917 non-null  object
 7   previous_owners         9279 non-null   float64
 8   warranty                4853 non-null   float64
 9   make                    15919 non-null  object
 10  model                   15919 non-null  object
 11  body_color              15322 non-null  object
 12  paint_type              10147 non-null  object
 13  body_color_original     12145 non-null  object
 14  upholstery              12199 non-null  object
 15  nr_of_doors             15707 non-null  float64
 16  nr_of_seats             14942 non-null  float64
 17  gearing_type            15919 non-null  object
 18  engine_displacement_cc  15423 non-null  float64
 19  cylinders               10239 non-null  float64
 20  weight_kg               8945 non-null   float64
 21  drive_chain             9061 non-null   object
 22  fuel                    15919 non-null  object
 23  co2e_g                  13477 non-null  float64
 24  emission_class          12291 non-null  object
 25  comfort&convenience     14999 non-null  object
 26  entertainment&media     14545 non-null  object
 27  extras                  12957 non-null  object
 28  safety_&_security       14937 non-null  object
 29  gears                   11207 non-null  float64
 30  country_version         7586 non-null   object
 31  consumption_comb        12129 non-null  float64
 32  consumption_city        11880 non-null  float64
 33  consumption_country     12554 non-null  float64
 34  age                     14322 non-null  float64
dtypes: float64(17), object(18)
memory usage: 4.3+ MB

In [21]:
def check_df(col):
    print('column name : ', col)
    print('--------------------------------')
    print('Per_of_Nulls   : ', '%', round(df[col].isnull().sum() / df.shape[0]*100, 2))
    print('Num_of_Nulls   : ', df[col].isnull().sum())
    print(df[col].value_counts(dropna = False))
    print("*"*30)
    print("\n\n")

## **Handling With Missing Values**

# **1.body_type**

In [22]:
check_df("body_type")

column name :  body_type
--------------------------------
Per_of_Nulls   :  % 0.38
Num_of_Nulls   :  60
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64
******************************

In [23]:
df[df.body_type.isnull()].sample(5)

,body_type,price_€,vat,km,prev_owner,hp_kW,type,previous_owners,warranty,make,model,body_color,paint_type,body_color_original,upholstery,nr_of_doors,nr_of_seats,gearing_type,engine_displacement_cc,cylinders,weight_kg,drive_chain,fuel,co2e_g,emission_class,comfort&convenience,entertainment&media,extras,safety_&_security,gears,country_version,consumption_comb,consumption_city,consumption_country,age
14107,NaN,9990.000,NaN,39000.000,NaN,55.000,Used,NaN,NaN,Renault,Clio,White,NaN,NaN,NaN,5.000,NaN,Manual,NaN,NaN,NaN,NaN,Diesel,85.000,NaN,"Air conditioning,Power windows",NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,3.300,3.500,3.100,2.000
14480,NaN,10000.000,NaN,8000.000,NaN,54.000,Used,NaN,NaN,Renault,Clio,Red,NaN,NaN,Cloth,5.000,5.000,Manual,NaN,5.000,1134.000,NaN,Gasoline,127.000,Euro 4,"Air conditioning,Cruise control,Electrical sid...","Bluetooth,Hands-free equipment,On-board comput...",NaN,"ABS,Central door lock,Central door lock with r...",5.000,NaN,5.600,7.200,4.700,1.000
14869,NaN,10850.000,VAT deductible,10.000,NaN,56.000,New,NaN,NaN,Renault,Clio,Grey,Metallic,titangraumet.,Cloth,5.000,5.000,Manual,898.000,NaN,1165.000,NaN,Super 95,114.000,Euro 6c,"Air conditioning,Cruise control,Electrical sid...","Bluetooth,Digital radio,Hands-free equipment,O...",NaN,"ABS,Central door lock,Driver-side airbag,Elect...",5.000,NaN,NaN,6.400,4.200,NaN
13852,NaN,8500.000,NaN,34564.000,NaN,55.000,Used,NaN,NaN,Renault,Clio,White,NaN,Bianco,NaN,5.000,NaN,Manual,1461.000,4.000,NaN,NaN,Diesel,NaN,NaN,NaN,NaN,NaN,"ABS,Power steering",NaN,NaN,NaN,NaN,NaN,2.000
15307,NaN,31000.000,NaN,10.000,NaN,96.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris,NaN,5.000,NaN,Manual,1598.000,4.000,NaN,NaN,Diesel,116.000,NaN,NaN,NaN,NaN,NaN,6.000,NaN,4.400,5.100,NaN,NaN

In [24]:
df[df.body_type.isnull()][["make", "model", "nr_of_doors", "nr_of_seats" ]]

          make     model  nr_of_doors  nr_of_seats
3175      Audi        A3        5.000        5.000
3255      Audi        A3        3.000        5.000
3975      Audi        A3        5.000        5.000
3997      Audi        A3        3.000          NaN
4206      Audi        A3        5.000          NaN
4297      Audi        A3        5.000          NaN
4298      Audi        A3        5.000          NaN
5718      Opel     Astra        5.000          NaN
5938      Opel     Astra        5.000          NaN
5940      Opel     Astra        5.000          NaN
6920      Opel     Astra        5.000          NaN
6922      Opel     Astra        5.000          NaN
6927      Opel     Astra        5.000          NaN
7709      Opel     Astra        5.000          NaN
8408      Opel     Corsa        5.000        5.000
8584      Opel     Corsa          NaN          NaN
10837     Opel  Insignia        5.000          NaN
10838     Opel  Insignia        5.000          NaN
10857     Opel  Insignia        5.000          NaN
13430  Renault      Clio        5.000          NaN
13470  Renault      Clio        5.000          NaN
13576  Renault      Clio        5.000          NaN
13703  Renault      Clio        5.000          NaN
13725  Renault      Clio        5.000          NaN
13852  Renault      Clio        5.000          NaN
13900  Renault      Clio        5.000          NaN
14107  Renault      Clio        5.000          NaN
14124  Renault      Clio        5.000          NaN
14127  Renault      Clio        5.000          NaN
14134  Renault      Clio        5.000          NaN
14135  Renault      Clio        5.000          NaN
14480  Renault      Clio        5.000        5.000
14869  Renault      Clio        5.000        5.000
14870  Renault      Clio        5.000        5.000
14928  Renault    Espace        5.000          NaN
14990  Renault    Espace        5.000          NaN
15058  Renault    Espace        5.000          NaN
15059  Renault    Espace        5.000          NaN
15060  Renault    Espace        5.000          NaN
15124  Renault    Espace        5.000          NaN
15269  Renault    Espace        5.000          NaN
15275  Renault    Espace        5.000          NaN
15289  Renault    Espace        5.000          NaN
15307  Renault    Espace        5.000          NaN
15378  Renault    Espace        5.000          NaN
15437  Renault    Espace        5.000        7.000
15452  Renault    Espace        5.000          NaN
15456  Renault    Espace        5.000          NaN
15457  Renault    Espace        5.000          NaN
15488  Renault    Espace        5.000          NaN
15489  Renault    Espace        5.000        7.000
15491  Renault    Espace        5.000        7.000
15499  Renault    Espace        5.000          NaN
15544  Renault    Espace        5.000          NaN
15556  Renault    Espace        5.000          NaN
15589  Renault    Espace        5.000        7.000
15696  Renault    Espace        5.000        7.000
15712  Renault    Espace        5.000        7.000
15736  Renault    Espace        5.000          NaN
15770  Renault    Espace        5.000          NaN

In [25]:
df.groupby(["make", "model"])["body_type"].value_counts()

make     model     body_type
Audi     A1        Sedans           1538
                   Compact          1039
                   Station wagon      21
                   Other              13
                   Coupe               2
                   Van                 1
         A2        Off-Road            1
         A3        Sedans           2598
                   Station wagon     282
                   Compact           182
                   Other              16
                   Convertible         8
                   Coupe               4
Opel     Astra     Station wagon    1211
                   Sedans           1053
                   Compact           185
                   Other              67
                   Coupe               2
                   Off-Road            1
         Corsa     Compact          1230
                   Sedans            875
                   Other              87
                   Coupe              13
                   Transporter         7
                   Off-Road            3
                   Van                 2
         Insignia  Station wagon    1611
                   Sedans            900
                   Other              48
                   Compact            27
                   Off-Road            7
                   Coupe               1
                   Van                 1
Renault  Clio      Sedans            918
                   Compact           484
                   Station wagon     337
                   Other              51
                   Transporter        29
                   Off-Road            2
                   Van                 2
                   Coupe               1
         Duster    Off-Road           34
         Espace    Van               777
                   Station wagon      91
                   Transporter        52
                   Sedans             21
                   Off-Road            8
                   Other               8
                   Compact             6
                   Coupe               2
Name: body_type, dtype: int64

In [26]:
# select group mode values
#df.groupby(["make", "model"])["body_type"].describe(include="object")["top"] 
df.groupby(["make", "model"])['body_type'].apply(lambda x: x.mode()[0])

make     model
Audi     A1                 Sedans
         A2               Off-Road
         A3                 Sedans
Opel     Astra       Station wagon
         Corsa             Compact
         Insignia    Station wagon
Renault  Clio               Sedans
         Duster           Off-Road
         Espace                Van
Name: body_type, dtype: object

In [27]:
df.body_type = df.groupby(["make", "model"])["body_type"].apply(lambda x: x.fillna(x.mode()[0]))

In [28]:
df.body_type.value_counts(dropna=False)

Sedans           7925
Station wagon    3563
Compact          3155
Van               809
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

# **2.vat**

In [29]:
check_df("vat")

column name :  vat
--------------------------------
Per_of_Nulls   :  % 28.35
Num_of_Nulls   :  4513
VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64
******************************

In [30]:
df.groupby("vat").describe(include="O")

                 body_type                        type                     \
                     count unique     top  freq  count unique   top  freq
vat
Price negotiable       426      9  Sedans   286    426      3  Used   421
VAT deductible       10980      9  Sedans  5248  10980      5  Used  6787

                   make                     model                  body_color  \
                  count unique   top  freq  count unique top  freq      count
vat
Price negotiable    426      3  Audi   182    426      7  A3   101        426
VAT deductible    10980      3  Opel  5415  10980      9  A3  2209      10586

                                     paint_type                         \
                 unique    top  freq      count unique       top  freq
vat
Price negotiable     10  Black   109        245      1  Metallic   245
VAT deductible       13  Black  2704       7558      3  Metallic  7312

                 body_color_original                                         \
                               count unique                        top freq
vat
Price negotiable                  17     17  Floretzilver (grijs metal    1
VAT deductible                  9543   1568               Onyx Schwarz  314

                 upholstery                     gearing_type                 \
                      count unique    top  freq        count unique     top
vat
Price negotiable        134      4  Cloth    82          426      3  Manual
VAT deductible         9780      6  Cloth  7404        10980      3  Manual

                       drive_chain                       fuel                 \
                  freq       count unique    top  freq  count unique     top
vat
Price negotiable   204          95      2  front    92    426      8  Diesel
VAT deductible    5502        6876      2  front  6762  10980     14  Diesel

                       emission_class                       \
                  freq          count unique     top  freq
vat
Price negotiable   223            401      6  Euro 6   361
VAT deductible    4776           8801      6  Euro 6  6915

                 comfort&convenience         \
                               count unique
vat
Price negotiable                 423    333
VAT deductible                 10811   4368

                                                                          \
                                                                top freq
vat
Price negotiable  Air conditioning,Seat ventilation,Split rear s...   15
VAT deductible    Air conditioning,Electrical side mirrors,Hill ...  163

                 entertainment&media         \
                               count unique
vat
Price negotiable                 414    100
VAT deductible                 10609    300

                                                                           \
                                                                top  freq
vat
Price negotiable  Bluetooth,CD player,Hands-free equipment,MP3,O...    32
VAT deductible    Bluetooth,Hands-free equipment,On-board comput...  1088

                 extras                            safety_&_security         \
                  count unique           top  freq             count unique
vat
Price negotiable    372    139  Alloy wheels    71               422    298
VAT deductible     9471    498  Alloy wheels  2092             10782   2973

                                                                          \
                                                                top freq
vat
Price negotiable  ABS,Adaptive Cruise Control,Alarm system,Centr...   12
VAT deductible    ABS,Central door lock,Daytime running lights,D...  461

                 country_version
                           count unique      top  freq
vat
Price negotiable              43      6    Italy    14
VAT deductible              5966     20  Germany  3812

In [31]:
df.groupby("vat").describe()

                   price_€                                                  \
                     count      mean      std      min       25%       50%
vat
Price negotiable   426.000 16097.153 6345.227 6250.000 11900.000 15449.500
VAT deductible   10980.000 18708.520 7490.561 4990.000 13490.000 17850.000

                                            km                            \
                       75%       max     count      mean       std   min
vat
Price negotiable 18967.500 57400.000   426.000 45804.671 32718.334 1.000
VAT deductible   22720.000 74600.000 10196.000 31506.393 38380.170 0.000

                                                          prev_owner        \
                       25%       50%       75%        max      count  mean
vat
Price negotiable 21000.000 38500.000 62775.000 185000.000    266.000 1.350
VAT deductible    2499.000 19007.000 42210.500 291800.000   6777.000 1.042

                                                         hp_kW                \
                   std   min   25%   50%   75%   max     count   mean    std
vat
Price negotiable 0.544 1.000 1.000 1.000 2.000 4.000   426.000 88.998 29.264
VAT deductible   0.204 1.000 1.000 1.000 1.000 3.000 10929.000 89.466 26.262

                                                      previous_owners        \
                    min    25%    50%     75%     max           count  mean
vat
Price negotiable 51.000 66.000 85.000 103.000 294.000         266.000 1.350
VAT deductible   44.000 66.000 85.000 104.000 294.000        6907.000 1.022

                                                     warranty                \
                   std   min   25%   50%   75%   max    count   mean    std
vat
Price negotiable 0.544 1.000 1.000 1.000 2.000 4.000   28.000 16.286 10.937
VAT deductible   0.246 0.000 1.000 1.000 1.000 3.000 3351.000 23.916 16.948

                                                    nr_of_doors              \
                    min    25%    50%    75%    max       count  mean   std
vat
Price negotiable 12.000 12.000 12.000 12.000 60.000     421.000 4.665 0.736
VAT deductible    1.000 12.000 12.000 24.000 72.000   10820.000 4.648 0.627

                                               nr_of_seats                    \
                   min   25%   50%   75%   max       count  mean   std   min
vat
Price negotiable 2.000 5.000 5.000 5.000 7.000     413.000 4.877 0.584 2.000
VAT deductible   1.000 4.000 5.000 5.000 5.000   10314.000 4.968 0.430 2.000

                                         engine_displacement_cc           \
                   25%   50%   75%   max                  count     mean
vat
Price negotiable 5.000 5.000 5.000 7.000                416.000 1487.892
VAT deductible   5.000 5.000 5.000 7.000              10729.000 1421.270

                                                                       \
                     std     min      25%      50%      75%       max
vat
Price negotiable 774.517 898.000 1229.000 1461.000 1598.000 16000.000
VAT deductible   327.305   1.000 1229.000 1461.000 1598.000 15898.000

                 cylinders                                            \
                     count  mean   std   min   25%   50%   75%   max
vat
Price negotiable   410.000 3.817 0.440 3.000 4.000 4.000 4.000 6.000
VAT deductible    6794.000 3.772 0.424 1.000 4.000 4.000 4.000 6.000

                 weight_kg                                              \
                     count     mean     std      min      25%      50%
vat
Price negotiable   403.000 1334.950 208.951 1010.000 1165.000 1278.000
VAT deductible    5632.000 1361.925 221.296    1.000 1180.000 1308.000

                                     co2e_g                                 \
                      75%      max    count    mean     std    min     25%
vat
Price negotiable 1415.000 2295.000  406.000 113.192  19.089 36.000  99.000
VAT deductible   1503.000 2471.000 9684.000 127.441 318.250 14.000 105.000

                                              gears                          \
                     50%     75%       max    count  mean   std   min   25%
vat
Price negotiable 111.500 124.000   239.000  418.000 5.952 0.715 5.000 5.000
VAT deductible   117.000 132.000 14457.000 7484.000 5.956 0.899 1.000 5.000

                                    consumption_comb                          \
                   50%   75%    max            count  mean   std   min   25%
vat
Price negotiable 6.000 6.000  8.000          371.000 4.622 0.882 1.600 3.900
VAT deductible   6.000 6.000 50.000         8604.000 4.935 0.908 3.100 4.200

                                   consumption_city                          \
                   50%   75%   max            count  mean   std   min   25%
vat
Price negotiable 4.500 5.300 9.100          344.000 5.675 1.354 3.300 4.600
VAT deductible   4.900 5.600 8.700         8554.000 6.079 1.405 3.300 4.800

                                    consumption_country                    \
                   50%   75%    max               count  mean   std   min
vat
Price negotiable 5.500 6.800 11.300             387.000 4.063 0.639 3.100
VAT deductible   5.900 7.200 16.100            9021.000 4.274 0.683 2.900

                                              age                          \
                   25%   50%   75%   max    count  mean   std   min   25%
vat
Price negotiable 3.600 3.900 4.400 7.800  426.000 2.340 0.763 0.000 2.000
VAT deductible   3.800 4.200 4.700 7.800 9652.000 1.352 1.067 0.000 1.000


                   50%   75%   max
vat
Price negotiable 3.000 3.000 3.000
VAT deductible   1.000 2.000 3.000

In [32]:
df.vat.fillna(method="ffill").value_counts(dropna=False)

VAT deductible      15048
Price negotiable      871
Name: vat, dtype: int64

In [33]:
df.vat.fillna(method="bfill").value_counts(dropna=False)

VAT deductible      15083
Price negotiable      836
Name: vat, dtype: int64

In [34]:
df.vat = df.vat.fillna(method="bfill")

In [35]:
df.vat.value_counts()

VAT deductible      15083
Price negotiable      836
Name: vat, dtype: int64

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   body_type               15919 non-null  object
 1   price_€                 15919 non-null  float64
 2   vat                     15919 non-null  object
 3   km                      14895 non-null  float64
 4   prev_owner              9091 non-null   float64
 5   hp_kW                   15831 non-null  float64
 6   type                    15917 non-null  object
 7   previous_owners         9279 non-null   float64
 8   warranty                4853 non-null   float64
 9   make                    15919 non-null  object
 10  model                   15919 non-null  object
 11  body_color              15322 non-null  object
 12  paint_type              10147 non-null  object
 13  body_color_original     12145 non-null  object
 14  upholstery              12199 non-null  object
 15  nr_of_doors             15707 non-null  float64
 16  nr_of_seats             14942 non-null  float64
 17  gearing_type            15919 non-null  object
 18  engine_displacement_cc  15423 non-null  float64
 19  cylinders               10239 non-null  float64
 20  weight_kg               8945 non-null   float64
 21  drive_chain             9061 non-null   object
 22  fuel                    15919 non-null  object
 23  co2e_g                  13477 non-null  float64
 24  emission_class          12291 non-null  object
 25  comfort&convenience     14999 non-null  object
 26  entertainment&media     14545 non-null  object
 27  extras                  12957 non-null  object
 28  safety_&_security       14937 non-null  object
 29  gears                   11207 non-null  float64
 30  country_version         7586 non-null   object
 31  consumption_comb        12129 non-null  float64
 32  consumption_city        11880 non-null  float64
 33  consumption_country     12554 non-null  float64
 34  age                     14322 non-null  float64
dtypes: float64(17), object(18)
memory usage: 4.3+ MB

# **3.type**

In [37]:
# there are only 2 missing values in this column so we will fill these values with ffill method
df.type = df.type.fillna(method="ffill")

In [38]:
df.type.value_counts(dropna=False)

Used              11097
New                1650
Pre-registered     1365
Employee's car     1011
Demonstration       796
Name: type, dtype: int64

# **4.age**

In [39]:
check_df("age")

column name :  age
--------------------------------
Per_of_Nulls   :  % 10.03
Num_of_Nulls   :  1597
1.000    4522
3.000    3674
2.000    3273
0.000    2853
NaN      1597
Name: age, dtype: int64
******************************

In [40]:
df.groupby("type")["age"].median()

type
Demonstration    0.000
Employee's car   1.000
New              0.000
Pre-registered   0.000
Used             2.000
Name: age, dtype: float64

In [41]:
df["age"] = df.groupby("type").age.apply(lambda x: x.fillna(x.median()))

In [42]:
df.age.value_counts(dropna=False)

1.000    4525
0.000    4412
3.000    3674
2.000    3308
Name: age, dtype: int64

# **5.km**

In [43]:
check_df("km")

column name :  km
--------------------------------
Per_of_Nulls   :  % 6.43
Num_of_Nulls   :  1024
10.000       1045
NaN          1024
1.000         367
5.000         170
50.000        148
             ...
67469.000       1
43197.000       1
10027.000       1
35882.000       1
57.000          1
Name: km, Length: 6690, dtype: int64
******************************

In [44]:
df.groupby(["age","type"])["km"].mean()

age    type
0.000  Demonstration     3373.868
       Employee's car    4473.934
       New                 16.987
       Pre-registered     100.649
       Used              3712.171
1.000  Demonstration     8294.200
       Employee's car   19295.278
       New                 53.500
       Pre-registered     435.515
       Used             18807.503
2.000  Demonstration    25327.296
       Employee's car   37926.505
       Pre-registered    1854.000
       Used             41887.938
3.000  Demonstration    45500.000
       Employee's car   59123.647
       Pre-registered      10.000
       Used             77566.423
Name: km, dtype: float64

In [45]:
df.groupby(["age","type"])["km"].apply(lambda x: x.fillna(x.mean()))

0       56013.000
1       80000.000
2       83450.000
3       73000.000
4       16200.000
           ...
15914      16.987
15915    9900.000
15916      15.000
15917      10.000
15918    3373.868
Name: km, Length: 15919, dtype: float64

In [46]:
df["km"] = df.groupby(["age","type"])["km"].apply(lambda x: x.fillna(x.mean()))

In [47]:
df.age.value_counts(dropna=False)

1.000    4525
0.000    4412
3.000    3674
2.000    3308
Name: age, dtype: int64

# **6.prev_owner and previous_owners**

In [48]:
check_df("prev_owner")

column name :  prev_owner
--------------------------------
Per_of_Nulls   :  % 42.89
Num_of_Nulls   :  6828
1.000    8294
NaN      6828
2.000     778
3.000      17
4.000       2
Name: prev_owner, dtype: int64
******************************

In [51]:
check_df("previous_owners")

column name :  previous_owners
--------------------------------
Per_of_Nulls   :  % 41.71
Num_of_Nulls   :  6640
1.000    8294
NaN      6640
2.000     778
0.000     188
3.000      17
4.000       2
Name: previous_owners, dtype: int64
******************************

In [52]:
df.groupby("previous_owners")["prev_owner"].value_counts(dropna=False)

previous_owners  prev_owner
0.000            NaN            188
1.000            1.000         8294
2.000            2.000          778
3.000            3.000           17
4.000            4.000            2
Name: prev_owner, dtype: int64

In [53]:
# as we see prev_owner and previous_owners columns are the same
df.drop(columns="prev_owner", inplace=True)

In [54]:
df.groupby("age")["previous_owners"].value_counts(dropna=False)

age    previous_owners
0.000  NaN                2653
       1.000              1585
       0.000               164
       2.000                10
1.000  1.000              2968
       NaN                1474
       2.000                75
       0.000                 8
2.000  1.000              1715
       NaN                1283
       2.000               296
       3.000                 7
       0.000                 6
       4.000                 1
3.000  1.000              2026
       NaN                1230
       2.000               397
       0.000                10
       3.000                10
       4.000                 1
Name: previous_owners, dtype: int64

In [55]:
df.groupby("age")["previous_owners"].apply(lambda x: x.fillna(x.mode()[0])).value_counts()

1.000    14934
2.000      778
0.000      188
3.000       17
4.000        2
Name: previous_owners, dtype: int64

In [56]:
df.groupby("type")["previous_owners"].apply(lambda x: x.fillna(x.mode()[0])).value_counts()  #It's more useful than above

1.000    13463
0.000     1659
2.000      778
3.000       17
4.000        2
Name: previous_owners, dtype: int64

In [57]:
df.previous_owners = df.groupby("type")["previous_owners"].apply(lambda x: x.fillna(x.mode()[0]))

In [58]:
df.previous_owners.value_counts(dropna=False)

1.000    13463
0.000     1659
2.000      778
3.000       17
4.000        2
Name: previous_owners, dtype: int64

# **6.hp_kW**

In [59]:
check_df("hp_kW")

column name :  hp_kW
--------------------------------
Per_of_Nulls   :  % 0.55
Num_of_Nulls   :  88
85.000     2542
66.000     2122
81.000     1402
100.000    1308
110.000    1112
           ...
84.000        1
195.000       1
44.000        1
239.000       1
9.000         1
Name: hp_kW, Length: 81, dtype: int64
******************************

In [65]:
df[df.hp_kW.isnull()][["make", "model"]]

          make   model
1269      Audi      A1
2500      Audi      A1
4259      Audi      A3
7177      Opel   Astra
7670      Opel   Astra
...        ...     ...
15641  Renault  Espace
15647  Renault  Espace
15684  Renault  Espace
15791  Renault  Espace
15906  Renault  Espace

[88 rows x 2 columns]

In [67]:
df.groupby(["make", "model", "body_type"])["hp_kW"].median()

make     model     body_type
Audi     A1        Compact          70.000
                   Coupe            77.500
                   Other            70.000
                   Sedans           70.000
                   Station wagon    70.000
                   Van             147.000
         A2        Off-Road         85.000
         A3        Compact          85.000
                   Convertible     110.000
                   Coupe            81.000
                   Other            85.000
                   Sedans           85.000
                   Station wagon    85.000
Opel     Astra     Compact          81.000
                   Coupe           106.500
                   Off-Road        110.000
                   Other            81.000
                   Sedans           81.000
                   Station wagon   100.000
         Corsa     Compact          66.000
                   Coupe            55.000
                   Off-Road         66.000
                   Other            66.000
                   Sedans           55.000
                   Transporter      55.000
                   Van              51.000
         Insignia  Compact         121.000
                   Coupe            81.000
                   Off-Road        125.000
                   Other           100.000
                   Sedans          103.000
                   Station wagon   121.000
                   Van             121.000
Renault  Clio      Compact          56.000
                   Coupe           147.000
                   Off-Road         71.000
                   Other            56.000
                   Sedans           56.000
                   Station wagon    66.000
                   Transporter      56.000
                   Van              55.000
         Duster    Off-Road         77.000
         Espace    Compact         133.000
                   Coupe           141.500
                   Off-Road        118.000
                   Other           118.000
                   Sedans          118.000
                   Station wagon   118.000
                   Transporter     118.000
                   Van             118.000
Name: hp_kW, dtype: float64

In [68]:
df.hp_kW = df.groupby(["make", "model", "body_type"])["hp_kW"].apply(lambda x : x.fillna(x.median()))

# **7.warranty**