___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

# PART- 2 `( Handling With Missing Values )`

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")
warnings.warn("this will not show")

plt.rcParams["figure.figsize"] = (10, 6)
sns.set_style("whitegrid")

pd.set_option("display.float_format", lambda x: "%.3f" % x)

# Set it None to display all rows in the dataframe
# pd.set_option(‘display.max_rows’, None)

# Set it to None to display all columns in the dataframe
pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_csv("cleaned_autoscout.csv")

In [4]:
df.sample(5).T

,13580,6341,6091,7527,6609
short_description,dCi 75 Business Energy eco2 Euro6 55 kW (75 C,K 1.4 SIDI Turbo Innovation Aut. *NAVI*,1.6CDTi S/S Selective 110,"""1 6 CDTi 81kW (110CV) Dynamic""",K Lim. 5türig Dynamic S/S NAVI RFK LRH AT
body_type,Compact,Sedans,Sedans,Compact,Sedans
price_€,7950.000,15990.000,10500.000,13300.000,17290.000
vat,VAT deductible,NaN,VAT deductible,NaN,VAT deductible
km,81000.000,21379.000,69000.000,38474.000,20337.000
registration,2016.000,2017.000,2017.000,2018.000,2018.000
prev_owner,NaN,2.000,1.000,NaN,1.000
hp_kW,55.000,110.000,81.000,81.000,110.000
type,Used,Used,Used,Used,Employee's car
previous_owners,NaN,2.000,1.000,NaN,1.000
warranty,12.000,NaN,12.000,24.000,NaN
make,Renault,Opel,Opel,Opel,Opel
model,Clio,Astra,Astra,Astra,Astra
body_color,White,Grey,Black,Grey,Brown
paint_type,Metallic,Metallic,Metallic,NaN,Metallic
body_color_original,NaN,NaN,NaN,Gris,Kokosnuss Braun (M2)
upholstery,Cloth,Part leather,Cloth,NaN,Cloth
nr_of_doors,5.000,4.000,5.000,5.000,4.000
nr_of_seats,5.000,5.000,5.000,5.000,5.000
gearing_type,Manual,Automatic,Manual,Manual,Automatic
engine_displacement_cc,1461.000,1399.000,1598.000,1598.000,1399.000
cylinders,4.000,NaN,4.000,4.000,NaN
weight_kg,1087.000,NaN,1350.000,1360.000,NaN
drive_chain,\nfront\n,NaN,\nfront\n,NaN,NaN
fuel,Diesel,Gasoline,Diesel,Diesel,Super 95
co2e_g,85.000,124.000,107.000,97.000,127.000
emission_class,Euro 6,Euro 6,Euro 6d-TEMP,Euro 6,Euro 6
comfort&convenience,"Air conditioning,Cruise control,Hill Holder,Mu...","Air conditioning,Armrest,Automatic climate con...","Air conditioning,Armrest,Cruise control,Electr...",NaN,"Air conditioning,Armrest,Automatic climate con..."
entertainment&media,"Bluetooth,On-board computer,Radio","Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,Hands-free equipment,On-board comput...",NaN,"Bluetooth,Hands-free equipment,On-board comput..."
extras,NaN,"Alloy wheels,Touch screen,Voice Control","Alloy wheels,Voice Control",NaN,"Alloy wheels,Sport seats,Touch screen,Voice Co..."
safety_&_security,"ABS,Central door lock,Daytime running lights,D...","ABS,Adaptive Cruise Control,Adaptive headlight...","ABS,Central door lock,Central door lock with r...",NaN,"ABS,Adaptive headlights,Alarm system,Central d..."
gears,5.000,NaN,6.000,6.000,NaN
country_version,NaN,Germany,Spain,NaN,Germany
consumption_comb,3.300,5.400,3.700,3.700,5.500
consumption_city,3.500,7.100,4.200,4.200,7.200
consumption_country,3.100,4.400,3.300,3.300,4.500

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   short_description       15873 non-null  object
 1   body_type               15859 non-null  object
 2   price_€                 15919 non-null  float64
 3   vat                     11406 non-null  object
 4   km                      14895 non-null  float64
 5   registration            14322 non-null  float64
 6   prev_owner              9091 non-null   float64
 7   hp_kW                   15831 non-null  float64
 8   type                    15917 non-null  object
 9   previous_owners         9279 non-null   float64
 10  warranty                4853 non-null   float64
 11  make                    15919 non-null  object
 12  model                   15919 non-null  object
 13  body_color              15322 non-null  object
 14  paint_type              10147 non-null  object
 15  body_color_original     12145 non-null  object
 16  upholstery              12199 non-null  object
 17  nr_of_doors             15707 non-null  float64
 18  nr_of_seats             14942 non-null  float64
 19  gearing_type            15919 non-null  object
 20  engine_displacement_cc  15423 non-null  float64
 21  cylinders               10239 non-null  float64
 22  weight_kg               8945 non-null   float64
 23  drive_chain             9061 non-null   object
 24  fuel                    15919 non-null  object
 25  co2e_g                  13477 non-null  float64
 26  emission_class          12291 non-null  object
 27  comfort&convenience     14999 non-null  object
 28  entertainment&media     14545 non-null  object
 29  extras                  12957 non-null  object
 30  safety_&_security       14937 non-null  object
 31  gears                   11207 non-null  float64
 32  country_version         7586 non-null   object
 33  consumption_comb        12129 non-null  float64
 34  consumption_city        11880 non-null  float64
 35  consumption_country     12554 non-null  float64
dtypes: float64(17), object(19)
memory usage: 4.4+ MB

In [10]:
df.shape

(15919, 36)

In [11]:
df.isnull().sum()

short_description            46
body_type                    60
price_€                       0
vat                        4513
km                         1024
registration               1597
prev_owner                 6828
hp_kW                        88
type                          2
previous_owners            6640
warranty                  11066
make                          0
model                         0
body_color                  597
paint_type                 5772
body_color_original        3774
upholstery                 3720
nr_of_doors                 212
nr_of_seats                 977
gearing_type                  0
engine_displacement_cc      496
cylinders                  5680
weight_kg                  6974
drive_chain                6858
fuel                          0
co2e_g                     2442
emission_class             3628
comfort&convenience         920
entertainment&media        1374
extras                     2962
safety_&_security           982
gears                      4712
country_version            8333
consumption_comb           3790
consumption_city           4039
consumption_country        3365
dtype: int64

In [9]:
df.duplicated().value_counts()

False    14476
True      1443
dtype: int64

In [12]:
df.drop_duplicates(keep="first", inplace=True)

In [13]:
df.shape

(14476, 36)

In [14]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
price_€,14476.000,18135.293,7428.636,13.000,12950.000,16978.500,21920.000,74600.000
km,13563.000,33975.940,37106.517,0.000,5911.000,22664.000,49000.000,317000.000
registration,13076.000,2017.464,1.071,2016.000,2016.000,2018.000,2018.000,2019.000
prev_owner,8402.000,1.081,0.283,1.000,1.000,1.000,1.000,4.000
hp_kW,14391.000,88.454,26.694,1.000,66.000,85.000,101.000,294.000
previous_owners,8586.000,1.058,0.321,0.000,1.000,1.000,1.000,4.000
warranty,4317.000,22.162,16.177,1.000,12.000,12.000,24.000,72.000
nr_of_doors,14331.000,4.657,0.643,1.000,4.000,5.000,5.000,7.000
nr_of_seats,13610.000,4.947,0.475,2.000,5.000,5.000,5.000,7.000
engine_displacement_cc,14112.000,1425.702,339.166,1.000,1229.000,1461.000,1598.000,16000.000
cylinders,9450.000,3.793,0.420,1.000,4.000,4.000,4.000,8.000
weight_kg,8108.000,1354.399,224.100,1.000,1172.500,1290.000,1487.000,2471.000
co2e_g,12222.000,123.563,261.984,14.000,104.000,116.000,129.000,14457.000
gears,10256.000,5.923,0.856,1.000,5.000,6.000,6.000,50.000
consumption_comb,11082.000,4.856,0.900,1.200,4.200,4.800,5.500,13.800
consumption_city,10752.000,5.983,1.389,3.300,4.700,5.800,7.100,19.900
consumption_country,11347.000,4.213,0.665,2.900,3.700,4.200,4.600,10.300

In [15]:
df.describe(include="O").T

,count,unique,top,freq
short_description,14432,10001,SPB 1.6 TDI 116 CV S tronic Sport,62
body_type,14430,9,Sedans,7220
vat,10459,2,VAT deductible,10034
type,14474,5,Used,10210
make,14476,3,Opel,6809
model,14476,9,A3,2822
body_color,13948,14,Black,3473
paint_type,9379,3,Metallic,9047
body_color_original,11215,1926,Onyx Schwarz,332
upholstery,11009,6,Cloth,8246
gearing_type,14476,3,Manual,7355
drive_chain,8165,3,\nfront\n,8010
fuel,14476,14,Diesel,6622
emission_class,11189,6,Euro 6,9257
comfort&convenience,13707,6198,"Air conditioning,Electrical side mirrors,Hill ...",182
entertainment&media,13317,346,"Bluetooth,Hands-free equipment,On-board comput...",1215
extras,11908,659,Alloy wheels,2903
safety_&_security,13665,4443,"ABS,Central door lock,Daytime running lights,D...",483
country_version,7005,23,Germany,4053

In [ ]:
# drive_chain column is incorrect.
# Now lets fix it.

In [18]:
df.drive_chain.value_counts()

\nfront\n    8010
\n4WD\n       151
\nrear\n        4
Name: drive_chain, dtype: int64

In [20]:
df.drive_chain = df.drive_chain.str.strip("\n")

In [37]:
df.drive_chain.value_counts(dropna=False)

front    8010
NaN      6311
4WD       151
rear        4
Name: drive_chain, dtype: int64

In [ ]:
# Age column create

In [25]:
age = 2019 - df.registration
age.value_counts(dropna=False)

1.000    4298
3.000    3325
2.000    2908
0.000    2545
NaN      1400
Name: registration, dtype: int64

In [26]:
df["age"] = age

In [ ]:
# we dropped registiration and short_description because now they are useless for us.

In [28]:
df.drop(["registration", "short_description"], axis=1, inplace=True)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14476 entries, 0 to 15918
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   body_type               14430 non-null  object
 1   price_€                 14476 non-null  float64
 2   vat                     10459 non-null  object
 3   km                      13563 non-null  float64
 4   prev_owner              8402 non-null   float64
 5   hp_kW                   14391 non-null  float64
 6   type                    14474 non-null  object
 7   previous_owners         8586 non-null   float64
 8   warranty                4317 non-null   float64
 9   make                    14476 non-null  object
 10  model                   14476 non-null  object
 11  body_color              13948 non-null  object
 12  paint_type              9379 non-null   object
 13  body_color_original     11215 non-null  object
 14  upholstery              11009 non-null  object
 15  nr_of_doors             14331 non-null  float64
 16  nr_of_seats             13610 non-null  float64
 17  gearing_type            14476 non-null  object
 18  engine_displacement_cc  14112 non-null  float64
 19  cylinders               9450 non-null   float64
 20  weight_kg               8108 non-null   float64
 21  drive_chain             8165 non-null   object
 22  fuel                    14476 non-null  object
 23  co2e_g                  12222 non-null  float64
 24  emission_class          11189 non-null  object
 25  comfort&convenience     13707 non-null  object
 26  entertainment&media     13317 non-null  object
 27  extras                  11908 non-null  object
 28  safety_&_security       13665 non-null  object
 29  gears                   10256 non-null  float64
 30  country_version         7005 non-null   object
 31  consumption_comb        11082 non-null  float64
 32  consumption_city        10752 non-null  float64
 33  consumption_country     11347 non-null  float64
 34  age                     13076 non-null  float64
dtypes: float64(17), object(18)
memory usage: 4.0+ MB

In [30]:
def check_df(col):
    print('column name : ', col)
    print('--------------------------------')
    print('Per_of_Nulls   : ', '%', round(df[col].isnull().sum() / df.shape[0]*100, 2))
    print('Num_of_Nulls   : ', df[col].isnull().sum())
    print(df[col].value_counts(dropna = False))
    print("*"*30)
    print("\n\n")

## **Handling With Missing Values**

# **1.body_type**

In [31]:
check_df("body_type")

column name :  body_type
--------------------------------
Per_of_Nulls   :  % 0.32
Num_of_Nulls   :  46
Sedans           7220
Station wagon    3315
Compact          2728
Van               710
Other             281
Transporter        87
Off-Road           56
NaN                46
Coupe              25
Convertible         8
Name: body_type, dtype: int64
******************************

In [42]:
df[df.body_type.isnull()].sample(5)

,body_type,price_€,vat,km,prev_owner,hp_kW,type,previous_owners,warranty,make,model,body_color,paint_type,body_color_original,upholstery,nr_of_doors,nr_of_seats,gearing_type,engine_displacement_cc,cylinders,weight_kg,drive_chain,fuel,co2e_g,emission_class,comfort&convenience,entertainment&media,extras,safety_&_security,gears,country_version,consumption_comb,consumption_city,consumption_country,age
15770,NaN,35930.000,NaN,10.000,NaN,118.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris,NaN,5.000,NaN,Automatic,1598.000,4.000,NaN,NaN,Diesel,120.000,NaN,NaN,NaN,NaN,NaN,6.000,NaN,4.600,NaN,4.400,NaN
8584,NaN,8900.000,NaN,43731.000,NaN,51.000,Used,NaN,NaN,Opel,Corsa,Black,NaN,NaN,NaN,NaN,NaN,Automatic,NaN,NaN,NaN,NaN,Gasoline,NaN,NaN,"Air conditioning,Air suspension,Armrest,Automa...","Bluetooth,CD player,Digital radio,Hands-free e...","Alloy wheels,Catalytic Converter,Handicapped e...","ABS,Adaptive Cruise Control,Adaptive headlight...",NaN,NaN,NaN,NaN,NaN,2.000
8408,NaN,12435.000,VAT deductible,21050.000,1.000,44.000,Used,1.000,NaN,Opel,Corsa,White,NaN,SchneeWeiss/SummitWhite/Arctic,Cloth,5.000,5.000,Automatic,1364.000,4.000,NaN,NaN,Regular,NaN,NaN,"Air conditioning,Cruise control,Electrically h...","Bluetooth,CD player,Hands-free equipment,On-bo...","Alloy wheels,Sport seats","ABS,Central door lock,Daytime running lights,D...",5.000,Germany,NaN,NaN,NaN,1.000
7709,NaN,26490.000,NaN,6000.000,NaN,112.000,Used,NaN,NaN,Opel,Astra,Grey,NaN,Gris Cosmique,NaN,5.000,NaN,Automatic,NaN,NaN,NaN,NaN,Gasoline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
15456,NaN,33400.000,NaN,886.000,NaN,118.000,Used,NaN,NaN,Renault,Espace,Black,NaN,Noir Etoilé,NaN,5.000,NaN,Automatic,1598.000,4.000,NaN,NaN,Diesel,120.000,NaN,NaN,NaN,NaN,NaN,6.000,NaN,4.600,NaN,4.400,1.000

In [43]:
df[df.body_type.isnull()][["make", "model", "nr_of_doors", "nr_of_seats" ]]

          make     model  nr_of_doors  nr_of_seats
3175      Audi        A3        5.000        5.000
3255      Audi        A3        3.000        5.000
3975      Audi        A3        5.000        5.000
3997      Audi        A3        3.000          NaN
4206      Audi        A3        5.000          NaN
4297      Audi        A3        5.000          NaN
5718      Opel     Astra        5.000          NaN
6920      Opel     Astra        5.000          NaN
7709      Opel     Astra        5.000          NaN
8408      Opel     Corsa        5.000        5.000
8584      Opel     Corsa          NaN          NaN
10837     Opel  Insignia        5.000          NaN
13430  Renault      Clio        5.000          NaN
13470  Renault      Clio        5.000          NaN
13576  Renault      Clio        5.000          NaN
13703  Renault      Clio        5.000          NaN
13725  Renault      Clio        5.000          NaN
13852  Renault      Clio        5.000          NaN
13900  Renault      Clio        5.000          NaN
14107  Renault      Clio        5.000          NaN
14124  Renault      Clio        5.000          NaN
14134  Renault      Clio        5.000          NaN
14480  Renault      Clio        5.000        5.000
14869  Renault      Clio        5.000        5.000
14870  Renault      Clio        5.000        5.000
14928  Renault    Espace        5.000          NaN
14990  Renault    Espace        5.000          NaN
15058  Renault    Espace        5.000          NaN
15124  Renault    Espace        5.000          NaN
15289  Renault    Espace        5.000          NaN
15307  Renault    Espace        5.000          NaN
15378  Renault    Espace        5.000          NaN
15437  Renault    Espace        5.000        7.000
15452  Renault    Espace        5.000          NaN
15456  Renault    Espace        5.000          NaN
15457  Renault    Espace        5.000          NaN
15488  Renault    Espace        5.000          NaN
15489  Renault    Espace        5.000        7.000
15499  Renault    Espace        5.000          NaN
15544  Renault    Espace        5.000          NaN
15556  Renault    Espace        5.000          NaN
15589  Renault    Espace        5.000        7.000
15696  Renault    Espace        5.000        7.000
15712  Renault    Espace        5.000        7.000
15736  Renault    Espace        5.000          NaN
15770  Renault    Espace        5.000          NaN

In [52]:
df.groupby(["make", "model"])["body_type"].value_counts()

make     model     body_type
Audi     A1        Sedans           1460
                   Compact           920
                   Station wagon      21
                   Other              12
                   Coupe               2
                   Van                 1
         A2        Off-Road            1
         A3        Sedans           2357
                   Station wagon     280
                   Compact           151
                   Other              16
                   Convertible         8
                   Coupe               4
Opel     Astra     Station wagon    1152
                   Sedans            974
                   Compact           132
                   Other              66
                   Coupe               2
                   Off-Road            1
         Corsa     Compact          1117
                   Sedans            829
                   Other              87
                   Coupe              13
                   Transporter         7
                   Off-Road            3
                   Van                 1
         Insignia  Station wagon    1541
                   Sedans            795
                   Other              48
                   Compact            26
                   Off-Road            7
                   Coupe               1
                   Van                 1
Renault  Clio      Sedans            785
                   Compact           376
                   Station wagon     254
                   Other              45
                   Transporter        28
                   Off-Road            2
                   Van                 2
                   Coupe               1
         Duster    Off-Road           34
         Espace    Van               705
                   Station wagon      67
                   Transporter        52
                   Sedans             20
                   Off-Road            8
                   Other               7
                   Compact             6
                   Coupe               2
Name: body_type, dtype: int64

In [53]:
# select group mode values
#df.groupby(["make", "model"])["body_type"].describe(include="object")["top"] 
df.groupby(["make", "model"])['body_type'].apply(lambda x: x.mode()[0])

make     model
Audi     A1                 Sedans
         A2               Off-Road
         A3                 Sedans
Opel     Astra       Station wagon
         Corsa             Compact
         Insignia    Station wagon
Renault  Clio               Sedans
         Duster           Off-Road
         Espace                Van
Name: body_type, dtype: object

In [59]:
df.body_type = df.groupby(["make", "model"])["body_type"].apply(lambda x: x.fillna(x.mode()[0]))

In [61]:
df.duplicated().sum()

58

In [65]:
df.drop_duplicates(keep="first", inplace=True, ignore_index=True)

In [66]:
df.shape

(14418, 35)

In [67]:
df.tail(10)

,body_type,price_€,vat,km,prev_owner,hp_kW,type,previous_owners,warranty,make,model,body_color,paint_type,body_color_original,upholstery,nr_of_doors,nr_of_seats,gearing_type,engine_displacement_cc,cylinders,weight_kg,drive_chain,fuel,co2e_g,emission_class,comfort&convenience,entertainment&media,extras,safety_&_security,gears,country_version,consumption_comb,consumption_city,consumption_country,age
14408,Van,39990.000,NaN,10.000,NaN,167.000,Used,NaN,12.000,Renault,Espace,Black,NaN,NOIRE,NaN,5.000,5.000,Automatic,1798.000,NaN,NaN,NaN,Gasoline,NaN,NaN,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Hands-free equipment,On-board comput...",Alloy wheels,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,NaN,NaN,NaN,0.000
14409,Van,39990.000,VAT deductible,3500.000,NaN,147.000,Demonstration,NaN,48.000,Renault,Espace,Black,Metallic,Black-Pearl,NaN,5.000,5.000,Automatic,1997.000,NaN,1779.000,NaN,Diesel,NaN,NaN,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Touch screen","ABS,Blind spot monitor,Central door lock,Dayti...",7.000,Austria,NaN,NaN,NaN,0.000
14410,Van,39980.000,VAT deductible,8500.000,1.000,165.000,Demonstration,1.000,NaN,Renault,Espace,Blue,Metallic,Kosmos-Blau,Full leather,5.000,5.000,Automatic,1798.000,4.000,NaN,front,Regular,153.000,Euro 6,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Hands-free equipment,On-board comput...",Alloy wheels,"ABS,Adaptive headlights,Central door lock,Dayt...",7.000,NaN,NaN,NaN,NaN,0.000
14411,Van,39980.000,VAT deductible,100.000,1.000,118.000,Pre-registered,1.000,NaN,Renault,Espace,White,Metallic,Perlmutt-Weiß Metallic (Weiß),Full leather,5.000,7.000,Automatic,1598.000,4.000,1734.000,NaN,Diesel,123.000,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Digital radio,Hands-free equipment,O...","Alloy wheels,Touch screen,Voice Control","ABS,Adaptive Cruise Control,Central door lock,...",NaN,Germany,4.700,5.100,4.400,0.000
14412,Van,39950.000,VAT deductible,NaN,NaN,147.000,New,NaN,24.000,Renault,Espace,Black,Metallic,Nero,NaN,5.000,5.000,Automatic,1997.000,4.000,1758.000,front,Diesel,139.000,NaN,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Digital radio,Hands-free equipment,O...","Alloy wheels,Touch screen","ABS,Central door lock,Central door lock with r...",6.000,NaN,5.300,6.200,4.700,NaN
14413,Van,39950.000,VAT deductible,1000.000,NaN,165.000,Demonstration,NaN,NaN,Renault,Espace,White,Metallic,perlmutt-weiss,Full leather,5.000,7.000,Automatic,1798.000,4.000,NaN,front,Super 95,153.000,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Digital radio,Hands-free equipment,M...","Alloy wheels,Catalytic Converter,Sport suspens...","ABS,Adaptive Cruise Control,Blind spot monitor...",NaN,NaN,6.800,8.700,5.700,0.000
14414,Van,39950.000,VAT deductible,NaN,NaN,147.000,New,NaN,24.000,Renault,Espace,Grey,Metallic,Grigio scuro,NaN,5.000,5.000,Automatic,1997.000,4.000,1758.000,front,Diesel,139.000,NaN,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Digital radio,Hands-free equipment,O...","Alloy wheels,Touch screen","ABS,Central door lock,Central door lock with r...",6.000,NaN,5.300,6.200,4.700,NaN
14415,Van,39885.000,VAT deductible,9900.000,1.000,165.000,Used,1.000,NaN,Renault,Espace,Grey,Metallic,Stahl-Grau Metallic,Cloth,5.000,5.000,Automatic,1798.000,4.000,1708.000,front,Super 95,168.000,NaN,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Digital radio,Hands-free equipment,R...","Alloy wheels,Touch screen,Voice Control","ABS,Adaptive Cruise Control,Blind spot monitor...",7.000,Germany,7.400,9.200,6.300,0.000
14416,Van,39875.000,VAT deductible,15.000,1.000,146.000,Pre-registered,1.000,NaN,Renault,Espace,White,NaN,arktis-weiß,Full leather,5.000,7.000,Automatic,1997.000,4.000,NaN,front,Diesel,139.000,Euro 6d-TEMP,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...",Alloy wheels,"ABS,Adaptive Cruise Control,Blind spot monitor...",6.000,Austria,5.300,6.200,4.700,0.000
14417,Van,40999.000,VAT deductible,NaN,1.000,165.000,Demonstration,1.000,NaN,Renault,Espace,Grey,Metallic,Titanium-Grau Metallic,Full leather,5.000,5.000,Automatic,1798.000,4.000,1685.000,4WD,Super 95,153.000,Euro 6,"Air conditioning,Automatic climate control,Cru...",USB,"Alloy wheels,Touch screen","ABS,Blind spot monitor,Daytime running lights,...",NaN,Germany,6.800,8.700,5.700,0.000