___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

# PART- 2 `( Handling With Missing Values )`

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")
warnings.warn("this will not show")

plt.rcParams["figure.figsize"] = (10, 6)
sns.set_style("whitegrid")

pd.set_option("display.float_format", lambda x: "%.3f" % x)

# Set it None to display all rows in the dataframe
# pd.set_option(‘display.max_rows’, None)

# Set it to None to display all columns in the dataframe
pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_csv("cleaned_autoscout.csv")

In [3]:
df.sample(5).T

,3463,12781,8660,962,6117
short_description,SPB 1.6 TDI S tronic Business,Sports Tourer,"1,2 Ecotec Cool&Sound",Sportback 1.6 TDI Adrenalin S tronic 85,1.6 CDTI Business+ (Camera/T.haak/NAV.)
body_type,Sedans,Station wagon,Sedans,Sedans,Compact
price_€,17500.000,36500.000,7490.000,20950.000,10490.000
vat,NaN,VAT deductible,NaN,VAT deductible,VAT deductible
km,80000.000,NaN,19870.000,6822.000,131600.000
registration,2016.000,2019.000,2016.000,2018.000,2016.000
prev_owner,1.000,NaN,1.000,NaN,NaN
hp_kW,81.000,147.000,51.000,85.000,82.000
type,Used,Demonstration,Used,Used,Used
previous_owners,1.000,NaN,1.000,NaN,NaN
warranty,NaN,NaN,NaN,24.000,NaN
make,Audi,Opel,Opel,Audi,Opel
model,A3,Insignia,Corsa,A1,Astra
body_color,Grey,White,Blue,White,Grey
paint_type,NaN,Metallic,NaN,Metallic,Metallic
body_color_original,NaN,Abalone Weiß (M3),blau,Blanco,Donker grijs
upholstery,NaN,Full leather,Cloth,NaN,Cloth
nr_of_doors,5.000,5.000,3.000,5.000,5.000
nr_of_seats,5.000,5.000,5.000,5.000,5.000
gearing_type,Semi-automatic,Manual,Manual,Automatic,Manual
engine_displacement_cc,1598.000,1.000,1229.000,1598.000,1600.000
cylinders,4.000,NaN,NaN,4.000,4.000
weight_kg,1360.000,NaN,1135.000,1660.000,1250.000
drive_chain,NaN,front,front,NaN,front
fuel,Diesel,Benzine,Benzine,Diesel,Diesel
co2e_g,99.000,NaN,126.000,107.000,90.000
emission_class,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6
comfort&convenience,"Air conditioning,Armrest,Auxiliary heating,Cru...","Air conditioning,Automatic climate control,Cru...","Air conditioning,Electrical side mirrors,Hill ...","Air conditioning,Automatic climate control,Mul...","Air conditioning,Armrest,Cruise control,Electr..."
entertainment&media,"Bluetooth,CD player,Hands-free equipment,MP3,O...","Bluetooth,On-board computer","Bluetooth,MP3,USB",Radio,"On-board computer,Radio"
extras,"Alloy wheels,Voice Control","Alloy wheels,Roof rack,Sport suspension",NaN,Alloy wheels,Trailer hitch
safety_&_security,"ABS,Alarm system,Central door lock,Daytime run...","ABS,Adaptive Cruise Control,Central door lock,...","ABS,Central door lock,Daytime running lights,D...","ABS,Central door lock,Daytime running lights,D...","ABS,Alarm system,Central door lock,Daytime run..."
gears,7.000,6.000,5.000,7.000,6.000
country_version,NaN,NaN,NaN,NaN,Netherlands
consumption_comb,3.800,NaN,5.400,3.900,3.400
consumption_city,4.300,NaN,6.700,4.300,3.900
consumption_country,3.500,NaN,4.600,3.400,3.200

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   short_description       15873 non-null  object
 1   body_type               15859 non-null  object
 2   price_€                 15919 non-null  float64
 3   vat                     11406 non-null  object
 4   km                      14895 non-null  float64
 5   registration            14322 non-null  float64
 6   prev_owner              9091 non-null   float64
 7   hp_kW                   15831 non-null  float64
 8   type                    15917 non-null  object
 9   previous_owners         9279 non-null   float64
 10  warranty                4853 non-null   float64
 11  make                    15919 non-null  object
 12  model                   15919 non-null  object
 13  body_color              15322 non-null  object
 14  paint_type              10147 non-null  object
 15  body_color_original     12145 non-null  object
 16  upholstery              12199 non-null  object
 17  nr_of_doors             15707 non-null  float64
 18  nr_of_seats             14942 non-null  float64
 19  gearing_type            15919 non-null  object
 20  engine_displacement_cc  15423 non-null  float64
 21  cylinders               10239 non-null  float64
 22  weight_kg               8945 non-null   float64
 23  drive_chain             9061 non-null   object
 24  fuel                    15919 non-null  object
 25  co2e_g                  13477 non-null  float64
 26  emission_class          12291 non-null  object
 27  comfort&convenience     14999 non-null  object
 28  entertainment&media     14545 non-null  object
 29  extras                  12957 non-null  object
 30  safety_&_security       14937 non-null  object
 31  gears                   11207 non-null  float64
 32  country_version         7586 non-null   object
 33  consumption_comb        12129 non-null  float64
 34  consumption_city        11880 non-null  float64
 35  consumption_country     12554 non-null  float64
dtypes: float64(17), object(19)
memory usage: 4.4+ MB

In [5]:
df.shape

(15919, 36)

In [6]:
df.isnull().sum()

short_description            46
body_type                    60
price_€                       0
vat                        4513
km                         1024
registration               1597
prev_owner                 6828
hp_kW                        88
type                          2
previous_owners            6640
warranty                  11066
make                          0
model                         0
body_color                  597
paint_type                 5772
body_color_original        3774
upholstery                 3720
nr_of_doors                 212
nr_of_seats                 977
gearing_type                  0
engine_displacement_cc      496
cylinders                  5680
weight_kg                  6974
drive_chain                6858
fuel                          0
co2e_g                     2442
emission_class             3628
comfort&convenience         920
entertainment&media        1374
extras                     2962
safety_&_security           982
gears                      4712
country_version            8333
consumption_comb           3790
consumption_city           4039
consumption_country        3365
dtype: int64

In [7]:
df.duplicated().value_counts()

False    14476
True      1443
dtype: int64

In [8]:
# df.drop_duplicates(keep="first", inplace=True)
# Aynı özellikte birden fazla araç olabileceğinden duplicate değerleri düşmedik.

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
price_€,15919.000,18019.897,7386.169,13.000,12850.000,16900.000,21900.000,74600.000
km,14895.000,34130.128,37352.978,0.000,5153.000,22740.000,49371.500,317000.000
registration,14322.000,2017.458,1.077,2016.000,2016.000,2018.000,2018.000,2019.000
prev_owner,9091.000,1.090,0.295,1.000,1.000,1.000,1.000,4.000
hp_kW,15831.000,88.368,26.835,1.000,66.000,85.000,101.000,294.000
previous_owners,9279.000,1.068,0.330,0.000,1.000,1.000,1.000,4.000
warranty,4853.000,21.927,15.771,1.000,12.000,12.000,24.000,72.000
nr_of_doors,15707.000,4.656,0.645,1.000,4.000,5.000,5.000,7.000
nr_of_seats,14942.000,4.950,0.490,2.000,5.000,5.000,5.000,7.000
engine_displacement_cc,15423.000,1423.541,333.531,1.000,1229.000,1461.000,1598.000,16000.000
cylinders,10239.000,3.797,0.415,1.000,4.000,4.000,4.000,8.000
weight_kg,8945.000,1351.107,220.662,1.000,1165.000,1288.000,1487.000,2471.000
co2e_g,13477.000,123.794,270.000,14.000,104.000,116.000,129.000,14457.000
gears,11207.000,5.925,0.848,1.000,5.000,6.000,6.000,50.000
consumption_comb,12129.000,4.861,0.906,1.200,4.200,4.800,5.500,13.800
consumption_city,11880.000,5.973,1.409,3.300,4.700,5.800,7.100,19.900
consumption_country,12554.000,4.214,0.676,2.900,3.700,4.200,4.600,10.300

In [9]:
df.describe(include="O").T

,count,unique,top,freq
short_description,15873,10001,SPB 1.6 TDI 116 CV S tronic Sport,64
body_type,15859,9,Sedans,7903
vat,11406,2,VAT deductible,10980
type,15917,5,Used,11096
make,15919,3,Opel,7343
model,15919,9,A3,3097
body_color,15322,14,Black,3745
paint_type,10147,3,Metallic,9794
body_color_original,12145,1926,Onyx Schwarz,338
upholstery,12199,6,Cloth,9206
gearing_type,15919,3,Manual,8153
drive_chain,9061,3,front,8886
fuel,15919,4,Benzine,8551
emission_class,12291,6,Euro 6,10139
comfort&convenience,14999,6198,"Air conditioning,Electrical side mirrors,Hill ...",216
entertainment&media,14545,346,"Bluetooth,Hands-free equipment,On-board comput...",1282
extras,12957,659,Alloy wheels,3245
safety_&_security,14937,4443,"ABS,Central door lock,Daytime running lights,D...",538
country_version,7586,23,Germany,4502

In [13]:
# Age column create

In [14]:
age = 2019 - df.registration
age.value_counts(dropna=False)

1.000    4522
3.000    3674
2.000    3273
0.000    2853
NaN      1597
Name: registration, dtype: int64

In [15]:
df["age"] = age

In [18]:
# we dropped registiration and short_description because now they are useless for us.

In [16]:
df.drop(["registration", "short_description"], axis=1, inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   body_type               15859 non-null  object
 1   price_€                 15919 non-null  float64
 2   vat                     11406 non-null  object
 3   km                      14895 non-null  float64
 4   prev_owner              9091 non-null   float64
 5   hp_kW                   15831 non-null  float64
 6   type                    15917 non-null  object
 7   previous_owners         9279 non-null   float64
 8   warranty                4853 non-null   float64
 9   make                    15919 non-null  object
 10  model                   15919 non-null  object
 11  body_color              15322 non-null  object
 12  paint_type              10147 non-null  object
 13  body_color_original     12145 non-null  object
 14  upholstery              12199 non-null  object
 15  nr_of_doors             15707 non-null  float64
 16  nr_of_seats             14942 non-null  float64
 17  gearing_type            15919 non-null  object
 18  engine_displacement_cc  15423 non-null  float64
 19  cylinders               10239 non-null  float64
 20  weight_kg               8945 non-null   float64
 21  drive_chain             9061 non-null   object
 22  fuel                    15919 non-null  object
 23  co2e_g                  13477 non-null  float64
 24  emission_class          12291 non-null  object
 25  comfort&convenience     14999 non-null  object
 26  entertainment&media     14545 non-null  object
 27  extras                  12957 non-null  object
 28  safety_&_security       14937 non-null  object
 29  gears                   11207 non-null  float64
 30  country_version         7586 non-null   object
 31  consumption_comb        12129 non-null  float64
 32  consumption_city        11880 non-null  float64
 33  consumption_country     12554 non-null  float64
 34  age                     14322 non-null  float64
dtypes: float64(17), object(18)
memory usage: 4.3+ MB

In [18]:
def check_df(col):
    print('column name : ', col)
    print('--------------------------------')
    print('Per_of_Nulls   : ', '%', round(df[col].isnull().sum() / df.shape[0]*100, 2))
    print('Num_of_Nulls   : ', df[col].isnull().sum())
    print(df[col].value_counts(dropna = False))
    print("*"*30)
    print("\n\n")

## **Handling With Missing Values**

# **1.body_type**

In [20]:
check_df("body_type")

column name :  body_type
--------------------------------
Per_of_Nulls   :  % 0.38
Num_of_Nulls   :  60
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64
******************************

In [21]:
df[df.body_type.isnull()].sample(5)

,body_type,price_€,vat,km,prev_owner,hp_kW,type,previous_owners,warranty,make,model,body_color,paint_type,body_color_original,upholstery,nr_of_doors,nr_of_seats,gearing_type,engine_displacement_cc,cylinders,weight_kg,drive_chain,fuel,co2e_g,emission_class,comfort&convenience,entertainment&media,extras,safety_&_security,gears,country_version,consumption_comb,consumption_city,consumption_country,age
15289,NaN,28140.000,NaN,10.000,NaN,96.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris,NaN,5.000,NaN,Manual,1598.000,4.000,NaN,NaN,Diesel,116.000,NaN,NaN,NaN,NaN,NaN,6.000,NaN,4.400,5.100,NaN,NaN
3997,NaN,19750.000,VAT deductible,38800.000,1.000,82.000,Used,1.000,6.000,Audi,A3,Black,NaN,NOIR,NaN,3.000,NaN,Automatic,1598.000,NaN,NaN,NaN,Diesel,NaN,NaN,"Air conditioning,Automatic climate control,Cru...","Bluetooth,On-board computer,Radio",Alloy wheels,"ABS,Daytime running lights,Driver-side airbag,...",NaN,NaN,NaN,NaN,NaN,2.000
14990,NaN,26800.000,NaN,332.000,NaN,165.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris Cassiopée,NaN,5.000,NaN,Automatic,1798.000,4.000,NaN,NaN,Benzine,152.000,NaN,NaN,NaN,NaN,NaN,7.000,NaN,6.800,8.700,5.600,1.000
3255,NaN,18500.000,Price negotiable,70000.000,NaN,81.000,Used,NaN,NaN,Audi,A3,White,NaN,NaN,Cloth,3.000,5.000,Automatic,1598.000,4.000,1255.000,NaN,Diesel,99.000,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,On-board computer,Radio,USB","Alloy wheels,Shift paddles","ABS,Alarm system,Central door lock,Driver-side...",7.000,NaN,3.800,4.300,3.500,3.000
15544,NaN,29750.000,NaN,10.000,NaN,165.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris,NaN,5.000,NaN,Automatic,1798.000,4.000,NaN,NaN,Benzine,NaN,NaN,NaN,NaN,NaN,NaN,7.000,NaN,NaN,NaN,NaN,NaN

In [22]:
df[df.body_type.isnull()][["make", "model", "nr_of_doors", "nr_of_seats" ]]

          make     model  nr_of_doors  nr_of_seats
3175      Audi        A3        5.000        5.000
3255      Audi        A3        3.000        5.000
3975      Audi        A3        5.000        5.000
3997      Audi        A3        3.000          NaN
4206      Audi        A3        5.000          NaN
4297      Audi        A3        5.000          NaN
4298      Audi        A3        5.000          NaN
5718      Opel     Astra        5.000          NaN
5938      Opel     Astra        5.000          NaN
5940      Opel     Astra        5.000          NaN
6920      Opel     Astra        5.000          NaN
6922      Opel     Astra        5.000          NaN
6927      Opel     Astra        5.000          NaN
7709      Opel     Astra        5.000          NaN
8408      Opel     Corsa        5.000        5.000
8584      Opel     Corsa          NaN          NaN
10837     Opel  Insignia        5.000          NaN
10838     Opel  Insignia        5.000          NaN
10857     Opel  Insignia        5.000          NaN
13430  Renault      Clio        5.000          NaN
13470  Renault      Clio        5.000          NaN
13576  Renault      Clio        5.000          NaN
13703  Renault      Clio        5.000          NaN
13725  Renault      Clio        5.000          NaN
13852  Renault      Clio        5.000          NaN
13900  Renault      Clio        5.000          NaN
14107  Renault      Clio        5.000          NaN
14124  Renault      Clio        5.000          NaN
14127  Renault      Clio        5.000          NaN
14134  Renault      Clio        5.000          NaN
14135  Renault      Clio        5.000          NaN
14480  Renault      Clio        5.000        5.000
14869  Renault      Clio        5.000        5.000
14870  Renault      Clio        5.000        5.000
14928  Renault    Espace        5.000          NaN
14990  Renault    Espace        5.000          NaN
15058  Renault    Espace        5.000          NaN
15059  Renault    Espace        5.000          NaN
15060  Renault    Espace        5.000          NaN
15124  Renault    Espace        5.000          NaN
15269  Renault    Espace        5.000          NaN
15275  Renault    Espace        5.000          NaN
15289  Renault    Espace        5.000          NaN
15307  Renault    Espace        5.000          NaN
15378  Renault    Espace        5.000          NaN
15437  Renault    Espace        5.000        7.000
15452  Renault    Espace        5.000          NaN
15456  Renault    Espace        5.000          NaN
15457  Renault    Espace        5.000          NaN
15488  Renault    Espace        5.000          NaN
15489  Renault    Espace        5.000        7.000
15491  Renault    Espace        5.000        7.000
15499  Renault    Espace        5.000          NaN
15544  Renault    Espace        5.000          NaN
15556  Renault    Espace        5.000          NaN
15589  Renault    Espace        5.000        7.000
15696  Renault    Espace        5.000        7.000
15712  Renault    Espace        5.000        7.000
15736  Renault    Espace        5.000          NaN
15770  Renault    Espace        5.000          NaN

In [23]:
df.groupby(["make", "model"])["body_type"].value_counts()

make     model     body_type
Audi     A1        Sedans           1538
                   Compact          1039
                   Station wagon      21
                   Other              13
                   Coupe               2
                   Van                 1
         A2        Off-Road            1
         A3        Sedans           2598
                   Station wagon     282
                   Compact           182
                   Other              16
                   Convertible         8
                   Coupe               4
Opel     Astra     Station wagon    1211
                   Sedans           1053
                   Compact           185
                   Other              67
                   Coupe               2
                   Off-Road            1
         Corsa     Compact          1230
                   Sedans            875
                   Other              87
                   Coupe              13
                   Transporter         7
                   Off-Road            3
                   Van                 2
         Insignia  Station wagon    1611
                   Sedans            900
                   Other              48
                   Compact            27
                   Off-Road            7
                   Coupe               1
                   Van                 1
Renault  Clio      Sedans            918
                   Compact           484
                   Station wagon     337
                   Other              51
                   Transporter        29
                   Off-Road            2
                   Van                 2
                   Coupe               1
         Duster    Off-Road           34
         Espace    Van               777
                   Station wagon      91
                   Transporter        52
                   Sedans             21
                   Off-Road            8
                   Other               8
                   Compact             6
                   Coupe               2
Name: body_type, dtype: int64

In [24]:
# select group mode values
#df.groupby(["make", "model"])["body_type"].describe(include="object")["top"] 
df.groupby(["make", "model"])['body_type'].apply(lambda x: x.mode()[0])

make     model
Audi     A1                 Sedans
         A2               Off-Road
         A3                 Sedans
Opel     Astra       Station wagon
         Corsa             Compact
         Insignia    Station wagon
Renault  Clio               Sedans
         Duster           Off-Road
         Espace                Van
Name: body_type, dtype: object

In [25]:
df.body_type = df.groupby(["make", "model"])["body_type"].apply(lambda x: x.fillna(x.mode()[0]))

In [26]:
df.body_type.value_counts(dropna=False)

Sedans           7925
Station wagon    3563
Compact          3155
Van               809
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [132]:
check_df("body_type")

column name :  body_type
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Sedans           7925
Station wagon    3563
Compact          3155
Van               809
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64
******************************

# **2.vat**

In [27]:
check_df("vat")

column name :  vat
--------------------------------
Per_of_Nulls   :  % 28.35
Num_of_Nulls   :  4513
VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64
******************************

In [28]:
df.groupby("vat").describe(include="O")

                 body_type                        type                     \
                     count unique     top  freq  count unique   top  freq
vat
Price negotiable       426      9  Sedans   286    426      3  Used   421
VAT deductible       10980      9  Sedans  5248  10980      5  Used  6787

                   make                     model                  body_color  \
                  count unique   top  freq  count unique top  freq      count
vat
Price negotiable    426      3  Audi   182    426      7  A3   101        426
VAT deductible    10980      3  Opel  5415  10980      9  A3  2209      10586

                                     paint_type                         \
                 unique    top  freq      count unique       top  freq
vat
Price negotiable     10  Black   109        245      1  Metallic   245
VAT deductible       13  Black  2704       7558      3  Metallic  7312

                 body_color_original                                         \
                               count unique                        top freq
vat
Price negotiable                  17     17  Floretzilver (grijs metal    1
VAT deductible                  9543   1568               Onyx Schwarz  314

                 upholstery                     gearing_type                 \
                      count unique    top  freq        count unique     top
vat
Price negotiable        134      4  Cloth    82          426      3  Manual
VAT deductible         9780      6  Cloth  7404        10980      3  Manual

                       drive_chain                       fuel                  \
                  freq       count unique    top  freq  count unique      top
vat
Price negotiable   204          95      2  front    92    426      4   Diesel
VAT deductible    5502        6876      2  front  6762  10980      4  Benzine

                       emission_class                       \
                  freq          count unique     top  freq
vat
Price negotiable   223            401      6  Euro 6   361
VAT deductible    6183           8801      6  Euro 6  6915

                 comfort&convenience         \
                               count unique
vat
Price negotiable                 423    333
VAT deductible                 10811   4368

                                                                          \
                                                                top freq
vat
Price negotiable  Air conditioning,Seat ventilation,Split rear s...   15
VAT deductible    Air conditioning,Electrical side mirrors,Hill ...  163

                 entertainment&media         \
                               count unique
vat
Price negotiable                 414    100
VAT deductible                 10609    300

                                                                           \
                                                                top  freq
vat
Price negotiable  Bluetooth,CD player,Hands-free equipment,MP3,O...    32
VAT deductible    Bluetooth,Hands-free equipment,On-board comput...  1088

                 extras                            safety_&_security         \
                  count unique           top  freq             count unique
vat
Price negotiable    372    139  Alloy wheels    71               422    298
VAT deductible     9471    498  Alloy wheels  2092             10782   2973

                                                                          \
                                                                top freq
vat
Price negotiable  ABS,Adaptive Cruise Control,Alarm system,Centr...   12
VAT deductible    ABS,Central door lock,Daytime running lights,D...  461

                 country_version
                           count unique      top  freq
vat
Price negotiable              43      6    Italy    14
VAT deductible              5966     20  Germany  3812

In [29]:
df.groupby("vat").describe()

                   price_€                                                  \
                     count      mean      std      min       25%       50%
vat
Price negotiable   426.000 16097.153 6345.227 6250.000 11900.000 15449.500
VAT deductible   10980.000 18708.520 7490.561 4990.000 13490.000 17850.000

                                            km                            \
                       75%       max     count      mean       std   min
vat
Price negotiable 18967.500 57400.000   426.000 45804.671 32718.334 1.000
VAT deductible   22720.000 74600.000 10196.000 31506.393 38380.170 0.000

                                                          prev_owner        \
                       25%       50%       75%        max      count  mean
vat
Price negotiable 21000.000 38500.000 62775.000 185000.000    266.000 1.350
VAT deductible    2499.000 19007.000 42210.500 291800.000   6777.000 1.042

                                                         hp_kW                \
                   std   min   25%   50%   75%   max     count   mean    std
vat
Price negotiable 0.544 1.000 1.000 1.000 2.000 4.000   426.000 88.998 29.264
VAT deductible   0.204 1.000 1.000 1.000 1.000 3.000 10929.000 89.466 26.262

                                                      previous_owners        \
                    min    25%    50%     75%     max           count  mean
vat
Price negotiable 51.000 66.000 85.000 103.000 294.000         266.000 1.350
VAT deductible   44.000 66.000 85.000 104.000 294.000        6907.000 1.022

                                                     warranty                \
                   std   min   25%   50%   75%   max    count   mean    std
vat
Price negotiable 0.544 1.000 1.000 1.000 2.000 4.000   28.000 16.286 10.937
VAT deductible   0.246 0.000 1.000 1.000 1.000 3.000 3351.000 23.916 16.948

                                                    nr_of_doors              \
                    min    25%    50%    75%    max       count  mean   std
vat
Price negotiable 12.000 12.000 12.000 12.000 60.000     421.000 4.665 0.736
VAT deductible    1.000 12.000 12.000 24.000 72.000   10820.000 4.648 0.627

                                               nr_of_seats                    \
                   min   25%   50%   75%   max       count  mean   std   min
vat
Price negotiable 2.000 5.000 5.000 5.000 7.000     413.000 4.877 0.584 2.000
VAT deductible   1.000 4.000 5.000 5.000 5.000   10314.000 4.968 0.430 2.000

                                         engine_displacement_cc           \
                   25%   50%   75%   max                  count     mean
vat
Price negotiable 5.000 5.000 5.000 7.000                416.000 1487.892
VAT deductible   5.000 5.000 5.000 7.000              10729.000 1421.270

                                                                       \
                     std     min      25%      50%      75%       max
vat
Price negotiable 774.517 898.000 1229.000 1461.000 1598.000 16000.000
VAT deductible   327.305   1.000 1229.000 1461.000 1598.000 15898.000

                 cylinders                                            \
                     count  mean   std   min   25%   50%   75%   max
vat
Price negotiable   410.000 3.817 0.440 3.000 4.000 4.000 4.000 6.000
VAT deductible    6794.000 3.772 0.424 1.000 4.000 4.000 4.000 6.000

                 weight_kg                                              \
                     count     mean     std      min      25%      50%
vat
Price negotiable   403.000 1334.950 208.951 1010.000 1165.000 1278.000
VAT deductible    5632.000 1361.925 221.296    1.000 1180.000 1308.000

                                     co2e_g                                 \
                      75%      max    count    mean     std    min     25%
vat
Price negotiable 1415.000 2295.000  406.000 113.192  19.089 36.000  99.000
VAT deductible   1503.000 2471.000 9684.000 127.441 318.250 14.000 105.000

                                              gears                          \
                     50%     75%       max    count  mean   std   min   25%
vat
Price negotiable 111.500 124.000   239.000  418.000 5.952 0.715 5.000 5.000
VAT deductible   117.000 132.000 14457.000 7484.000 5.956 0.899 1.000 5.000

                                    consumption_comb                          \
                   50%   75%    max            count  mean   std   min   25%
vat
Price negotiable 6.000 6.000  8.000          371.000 4.622 0.882 1.600 3.900
VAT deductible   6.000 6.000 50.000         8604.000 4.935 0.908 3.100 4.200

                                   consumption_city                          \
                   50%   75%   max            count  mean   std   min   25%
vat
Price negotiable 4.500 5.300 9.100          344.000 5.675 1.354 3.300 4.600
VAT deductible   4.900 5.600 8.700         8554.000 6.079 1.405 3.300 4.800

                                    consumption_country                    \
                   50%   75%    max               count  mean   std   min
vat
Price negotiable 5.500 6.800 11.300             387.000 4.063 0.639 3.100
VAT deductible   5.900 7.200 16.100            9021.000 4.274 0.683 2.900

                                              age                          \
                   25%   50%   75%   max    count  mean   std   min   25%
vat
Price negotiable 3.600 3.900 4.400 7.800  426.000 2.340 0.763 0.000 2.000
VAT deductible   3.800 4.200 4.700 7.800 9652.000 1.352 1.067 0.000 1.000


                   50%   75%   max
vat
Price negotiable 3.000 3.000 3.000
VAT deductible   1.000 2.000 3.000

In [30]:
df.vat.fillna(method="ffill").value_counts(dropna=False)

VAT deductible      15048
Price negotiable      871
Name: vat, dtype: int64

In [31]:
df.vat.fillna(method="bfill").value_counts(dropna=False)

VAT deductible      15083
Price negotiable      836
Name: vat, dtype: int64

In [32]:
df.vat = df.vat.fillna(method="bfill")

In [33]:
df.vat.value_counts()

VAT deductible      15083
Price negotiable      836
Name: vat, dtype: int64

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   body_type               15919 non-null  object
 1   price_€                 15919 non-null  float64
 2   vat                     15919 non-null  object
 3   km                      14895 non-null  float64
 4   prev_owner              9091 non-null   float64
 5   hp_kW                   15831 non-null  float64
 6   type                    15917 non-null  object
 7   previous_owners         9279 non-null   float64
 8   warranty                4853 non-null   float64
 9   make                    15919 non-null  object
 10  model                   15919 non-null  object
 11  body_color              15322 non-null  object
 12  paint_type              10147 non-null  object
 13  body_color_original     12145 non-null  object
 14  upholstery              12199 non-null  object
 15  nr_of_doors             15707 non-null  float64
 16  nr_of_seats             14942 non-null  float64
 17  gearing_type            15919 non-null  object
 18  engine_displacement_cc  15423 non-null  float64
 19  cylinders               10239 non-null  float64
 20  weight_kg               8945 non-null   float64
 21  drive_chain             9061 non-null   object
 22  fuel                    15919 non-null  object
 23  co2e_g                  13477 non-null  float64
 24  emission_class          12291 non-null  object
 25  comfort&convenience     14999 non-null  object
 26  entertainment&media     14545 non-null  object
 27  extras                  12957 non-null  object
 28  safety_&_security       14937 non-null  object
 29  gears                   11207 non-null  float64
 30  country_version         7586 non-null   object
 31  consumption_comb        12129 non-null  float64
 32  consumption_city        11880 non-null  float64
 33  consumption_country     12554 non-null  float64
 34  age                     14322 non-null  float64
dtypes: float64(17), object(18)
memory usage: 4.3+ MB

In [133]:
check_df("vat")

column name :  vat
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
VAT deductible      15083
Price negotiable      836
Name: vat, dtype: int64
******************************

# **3.type**

In [134]:
check_df("type")

column name :  type
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Used              11097
New                1650
Pre-registered     1365
Employee's car     1011
Demonstration       796
Name: type, dtype: int64
******************************

In [35]:
# there are only 2 missing values in this column so we will fill these values with ffill method
df.type = df.type.fillna(method="ffill")

In [36]:
df.type.value_counts(dropna=False)

Used              11097
New                1650
Pre-registered     1365
Employee's car     1011
Demonstration       796
Name: type, dtype: int64

# **4.age**

In [37]:
check_df("age")

column name :  age
--------------------------------
Per_of_Nulls   :  % 10.03
Num_of_Nulls   :  1597
1.000    4522
3.000    3674
2.000    3273
0.000    2853
NaN      1597
Name: age, dtype: int64
******************************

In [38]:
df.groupby("type")["age"].median()

type
Demonstration    0.000
Employee's car   1.000
New              0.000
Pre-registered   0.000
Used             2.000
Name: age, dtype: float64

In [39]:
df["age"] = df.groupby("type").age.apply(lambda x: x.fillna(x.median()))

In [40]:
df.age.value_counts(dropna=False)

1.000    4525
0.000    4412
3.000    3674
2.000    3308
Name: age, dtype: int64

In [135]:
check_df("age")

column name :  age
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
1.000    4525
0.000    4412
3.000    3674
2.000    3308
Name: age, dtype: int64
******************************

# **5.km**

In [41]:
check_df("km")

column name :  km
--------------------------------
Per_of_Nulls   :  % 6.43
Num_of_Nulls   :  1024
10.000       1045
NaN          1024
1.000         367
5.000         170
50.000        148
             ...
67469.000       1
43197.000       1
10027.000       1
35882.000       1
57.000          1
Name: km, Length: 6690, dtype: int64
******************************

In [42]:
df.groupby(["age","type"])["km"].mean()

age    type
0.000  Demonstration     3373.868
       Employee's car    4473.934
       New                 16.987
       Pre-registered     100.649
       Used              3712.171
1.000  Demonstration     8294.200
       Employee's car   19295.278
       New                 53.500
       Pre-registered     435.515
       Used             18807.503
2.000  Demonstration    25327.296
       Employee's car   37926.505
       Pre-registered    1854.000
       Used             41887.938
3.000  Demonstration    45500.000
       Employee's car   59123.647
       Pre-registered      10.000
       Used             77566.423
Name: km, dtype: float64

In [43]:
df.groupby(["age","type"])["km"].apply(lambda x: x.fillna(x.mean()))

0       56013.000
1       80000.000
2       83450.000
3       73000.000
4       16200.000
           ...
15914      16.987
15915    9900.000
15916      15.000
15917      10.000
15918    3373.868
Name: km, Length: 15919, dtype: float64

In [44]:
df["km"] = df.groupby(["age","type"])["km"].apply(lambda x: x.fillna(x.mean()))

In [45]:
df.age.value_counts(dropna=False)

1.000    4525
0.000    4412
3.000    3674
2.000    3308
Name: age, dtype: int64

In [136]:
check_df("km")

column name :  km
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
10.000       1045
16.987        848
1.000         367
5.000         170
50.000        148
             ...
53433.000       1
67469.000       1
43197.000       1
10027.000       1
57.000          1
Name: km, Length: 6699, dtype: int64
******************************

# **6.prev_owner and previous_owners**

In [46]:
check_df("prev_owner")

column name :  prev_owner
--------------------------------
Per_of_Nulls   :  % 42.89
Num_of_Nulls   :  6828
1.000    8294
NaN      6828
2.000     778
3.000      17
4.000       2
Name: prev_owner, dtype: int64
******************************

In [47]:
check_df("previous_owners")

column name :  previous_owners
--------------------------------
Per_of_Nulls   :  % 41.71
Num_of_Nulls   :  6640
1.000    8294
NaN      6640
2.000     778
0.000     188
3.000      17
4.000       2
Name: previous_owners, dtype: int64
******************************

In [48]:
df.groupby("previous_owners")["prev_owner"].value_counts(dropna=False)

previous_owners  prev_owner
0.000            NaN            188
1.000            1.000         8294
2.000            2.000          778
3.000            3.000           17
4.000            4.000            2
Name: prev_owner, dtype: int64

In [49]:
# as we see prev_owner and previous_owners columns are the same
df.drop(columns="prev_owner", inplace=True)

In [50]:
df.groupby("age")["previous_owners"].value_counts(dropna=False)

age    previous_owners
0.000  NaN                2653
       1.000              1585
       0.000               164
       2.000                10
1.000  1.000              2968
       NaN                1474
       2.000                75
       0.000                 8
2.000  1.000              1715
       NaN                1283
       2.000               296
       3.000                 7
       0.000                 6
       4.000                 1
3.000  1.000              2026
       NaN                1230
       2.000               397
       0.000                10
       3.000                10
       4.000                 1
Name: previous_owners, dtype: int64

In [51]:
df.groupby("age")["previous_owners"].apply(lambda x: x.fillna(x.mode()[0])).value_counts()

1.000    14934
2.000      778
0.000      188
3.000       17
4.000        2
Name: previous_owners, dtype: int64

In [52]:
df.groupby("type")["previous_owners"].apply(lambda x: x.fillna(x.mode()[0])).value_counts()  #It's more useful than above

1.000    13463
0.000     1659
2.000      778
3.000       17
4.000        2
Name: previous_owners, dtype: int64

In [53]:
df.previous_owners = df.groupby("type")["previous_owners"].apply(lambda x: x.fillna(x.mode()[0]))

In [54]:
df.previous_owners.value_counts(dropna=False)

1.000    13463
0.000     1659
2.000      778
3.000       17
4.000        2
Name: previous_owners, dtype: int64

In [137]:
check_df("previous_owners")

column name :  previous_owners
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
1.000    13463
0.000     1659
2.000      778
3.000       17
4.000        2
Name: previous_owners, dtype: int64
******************************

# **6.hp_kW**

In [55]:
check_df("hp_kW")

column name :  hp_kW
--------------------------------
Per_of_Nulls   :  % 0.55
Num_of_Nulls   :  88
85.000     2542
66.000     2122
81.000     1402
100.000    1308
110.000    1112
           ...
84.000        1
195.000       1
44.000        1
239.000       1
9.000         1
Name: hp_kW, Length: 81, dtype: int64
******************************

In [56]:
df[df.hp_kW.isnull()][["make", "model"]]

          make   model
1269      Audi      A1
2500      Audi      A1
4259      Audi      A3
7177      Opel   Astra
7670      Opel   Astra
...        ...     ...
15641  Renault  Espace
15647  Renault  Espace
15684  Renault  Espace
15791  Renault  Espace
15906  Renault  Espace

[88 rows x 2 columns]

In [57]:
df.groupby(["make", "model", "body_type"])["hp_kW"].median()

make     model     body_type
Audi     A1        Compact          70.000
                   Coupe            77.500
                   Other            70.000
                   Sedans           70.000
                   Station wagon    70.000
                   Van             147.000
         A2        Off-Road         85.000
         A3        Compact          85.000
                   Convertible     110.000
                   Coupe            81.000
                   Other            85.000
                   Sedans           85.000
                   Station wagon    85.000
Opel     Astra     Compact          81.000
                   Coupe           106.500
                   Off-Road        110.000
                   Other            81.000
                   Sedans           81.000
                   Station wagon   100.000
         Corsa     Compact          66.000
                   Coupe            55.000
                   Off-Road         66.000
                   Other            66.000
                   Sedans           55.000
                   Transporter      55.000
                   Van              51.000
         Insignia  Compact         121.000
                   Coupe            81.000
                   Off-Road        125.000
                   Other           100.000
                   Sedans          103.000
                   Station wagon   121.000
                   Van             121.000
Renault  Clio      Compact          56.000
                   Coupe           147.000
                   Off-Road         71.000
                   Other            56.000
                   Sedans           56.000
                   Station wagon    66.000
                   Transporter      56.000
                   Van              55.000
         Duster    Off-Road         77.000
         Espace    Compact         133.000
                   Coupe           141.500
                   Off-Road        118.000
                   Other           118.000
                   Sedans          118.000
                   Station wagon   118.000
                   Transporter     118.000
                   Van             118.000
Name: hp_kW, dtype: float64

In [58]:
df.hp_kW = df.groupby(["make", "model", "body_type"])["hp_kW"].apply(lambda x : x.fillna(x.median()))

In [138]:
check_df("hp_kW")

column name :  hp_kW
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
85.000     2543
66.000     2124
81.000     1404
100.000    1309
110.000    1112
70.000      890
125.000     707
51.000      695
55.000      570
118.000     550
92.000      466
121.000     395
147.000     380
77.000      353
56.000      314
54.000      276
103.000     259
87.000      232
165.000     194
88.000      177
60.000      160
162.000      98
74.000       81
96.000       72
71.000       59
101.000      47
67.000       40
154.000      39
122.000      35
119.000      30
164.000      27
135.000      24
52.000       22
82.000       22
1.000        20
78.000       20
294.000      18
146.000      18
141.000      16
57.000       10
120.000       8
104.000       8
112.000       7
191.000       7
155.000       6
117.000       6
184.000       5
65.000        4
90.000        4
76.000        4
168.000       3
98.000        3
149.000       3
80.000        3
93.000        3
167.000       2
228.000       2
53.000        2
143.000       2
150.000       2
140.000       2
270.000       2
63.000        2
40.000        2
127.000       2
86.000        2
89.000        2
163.000       1
132.000       1
115.000       1
239.000       1
4.000         1
137.000       1
133.000       1
84.000        1
123.000       1
44.000        1
195.000       1
75.000        1
9.000         1
Name: hp_kW, dtype: int64
******************************

# **7.warranty**

In [59]:
check_df("warranty")

column name :  warranty
--------------------------------
Per_of_Nulls   :  % 69.51
Num_of_Nulls   :  11066
NaN       11066
12.000     2594
24.000     1118
60.000      401
36.000      279
48.000      149
6.000       125
72.000       59
3.000        33
23.000       11
18.000       10
20.000        7
25.000        6
2.000         5
50.000        4
26.000        4
16.000        4
4.000         3
1.000         3
19.000        3
34.000        3
13.000        3
28.000        2
22.000        2
14.000        2
11.000        2
46.000        2
21.000        2
9.000         2
17.000        2
45.000        2
33.000        1
40.000        1
65.000        1
10.000        1
15.000        1
7.000         1
8.000         1
56.000        1
49.000        1
47.000        1
30.000        1
Name: warranty, dtype: int64
******************************

In [60]:
df.warranty.value_counts(normalize=True)

12.000   0.535
24.000   0.230
60.000   0.083
36.000   0.057
48.000   0.031
6.000    0.026
72.000   0.012
3.000    0.007
23.000   0.002
18.000   0.002
20.000   0.001
25.000   0.001
2.000    0.001
50.000   0.001
26.000   0.001
16.000   0.001
4.000    0.001
1.000    0.001
19.000   0.001
34.000   0.001
13.000   0.001
28.000   0.000
22.000   0.000
14.000   0.000
11.000   0.000
46.000   0.000
21.000   0.000
9.000    0.000
17.000   0.000
45.000   0.000
33.000   0.000
40.000   0.000
65.000   0.000
10.000   0.000
15.000   0.000
7.000    0.000
8.000    0.000
56.000   0.000
49.000   0.000
47.000   0.000
30.000   0.000
Name: warranty, dtype: float64

In [61]:
df.groupby(["make", "model", "age"])["warranty"].mean()

make     model     age
Audi     A1        0.000   27.971
                   1.000   26.300
                   2.000   17.679
                   3.000   13.926
         A2        1.000      NaN
         A3        0.000   27.697
                   1.000   21.707
                   2.000   16.655
                   3.000   17.112
Opel     Astra     0.000   37.804
                   1.000   25.795
                   2.000   14.988
                   3.000   24.797
         Corsa     0.000   27.472
                   1.000   17.355
                   2.000   22.231
                   3.000   27.061
         Insignia  0.000   31.863
                   1.000   25.348
                   2.000   17.058
                   3.000   15.225
Renault  Clio      0.000   35.510
                   1.000   15.686
                   2.000   16.733
                   3.000   10.864
         Duster    0.000   12.000
         Espace    0.000   37.226
                   1.000   22.524
                   2.000   15.922
                   3.000   12.482
Name: warranty, dtype: float64

In [62]:
df.groupby(["make", "model", "age"])["warranty"].value_counts()

make     model   age    warranty
Audi     A1      0.000  24.000      108
                        12.000       38
                        36.000       26
                        48.000       18
                        60.000       14
                                   ...
Renault  Espace  3.000  11.000        1
                        21.000        1
                        40.000        1
                        48.000        1
                        60.000        1
Name: warranty, Length: 229, dtype: int64

In [63]:
df.groupby("age")["warranty"].median()

age
0.000   24.000
1.000   12.000
2.000   12.000
3.000   12.000
Name: warranty, dtype: float64

In [64]:
df.groupby(["type", "age"])["warranty"].median()

type            age
Demonstration   0.000   36.000
                1.000   24.000
                2.000   12.000
                3.000   36.000
Employee's car  0.000   24.000
                1.000   12.000
                2.000   24.000
                3.000   12.000
New             0.000   24.000
                1.000   24.000
Pre-registered  0.000   24.000
                1.000   24.000
                2.000   18.000
                3.000   12.000
Used            0.000   24.000
                1.000   12.000
                2.000   12.000
                3.000   12.000
Name: warranty, dtype: float64

In [65]:
df.type.value_counts()

Used              11097
New                1650
Pre-registered     1365
Employee's car     1011
Demonstration       796
Name: type, dtype: int64

In [66]:
df.groupby("type")["warranty"].value_counts(dropna=False).head(60)

type            warranty
Demonstration   NaN          614
                24.000        50
                12.000        36
                48.000        29
                60.000        24
                72.000        22
                36.000        17
                3.000          3
                26.000         1
Employee's car  NaN          751
                12.000       158
                24.000        64
                36.000        19
                48.000        10
                60.000         4
                18.000         1
                19.000         1
                23.000         1
                34.000         1
                72.000         1
New             NaN         1321
                24.000       199
                12.000        42
                36.000        30
                48.000        20
                60.000        18
                72.000        14
                23.000         5
                65.000         1
Pre-registered  NaN         1005
                24.000       175
                12.000        65
                36.000        56
                48.000        24
                60.000        19
                72.000        16
                20.000         2
                18.000         1
                23.000         1
                46.000         1
Used            NaN         7375
                12.000      2293
                24.000       630
                60.000       336
                36.000       157
                6.000        125
                48.000        66
                3.000         30
                18.000         8
                25.000         6
                72.000         6
                2.000          5
                20.000         5
                16.000         4
                23.000         4
                50.000         4
                1.000          3
                4.000          3
                13.000         3
                26.000         3
Name: warranty, dtype: int64

In [67]:
df.warranty = df.groupby(["type", "age"])["warranty"].apply(lambda x : x.fillna(x.median()))

In [68]:
check_df("warranty")

column name :  warranty
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
12.000    10078
24.000     4212
36.000      762
60.000      401
48.000      149
6.000       125
72.000       59
3.000        33
18.000       15
23.000       11
20.000        7
25.000        6
2.000         5
50.000        4
26.000        4
16.000        4
4.000         3
1.000         3
19.000        3
34.000        3
13.000        3
28.000        2
22.000        2
14.000        2
11.000        2
46.000        2
21.000        2
9.000         2
17.000        2
45.000        2
33.000        1
40.000        1
65.000        1
10.000        1
15.000        1
7.000         1
8.000         1
56.000        1
49.000        1
47.000        1
30.000        1
Name: warranty, dtype: int64
******************************

In [69]:
#df[df.type == "Used"]["warranty"].fillna(0)
#df[df.type == "Used"]["warranty"].replace(to_replace=np.nan, value=0).value_counts(dropna=False)

#bu kod neden çalışmadı?

In [70]:
#df[(df["type"] == "Used") & (df["warranty"].isnull())]["warranty"] = df[df.type == "Used"]["warranty"].replace(to_replace=np.nan, value=0)

#bu kod neden çalışmadı?

In [71]:
# df[(df[“type”] == “Used”)][“warranty”].replace(to_replace=[“NaN”, “0”], value=np.nan).astype(“float”).isnull().sum()

#bu kod neden çalışmadı?

In [72]:
df.groupby("type")["warranty"].value_counts(dropna=False).head(50)

type            warranty
Demonstration   36.000       500
                24.000       160
                12.000        57
                48.000        29
                60.000        24
                72.000        22
                3.000          3
                26.000         1
Employee's car  12.000       745
                24.000       228
                36.000        19
                48.000        10
                60.000         4
                18.000         1
                19.000         1
                23.000         1
                34.000         1
                72.000         1
New             24.000      1520
                12.000        42
                36.000        30
                48.000        20
                60.000        18
                72.000        14
                23.000         5
                65.000         1
Pre-registered  24.000      1175
                12.000        65
                36.000        56
                48.000        24
                60.000        19
                72.000        16
                18.000         6
                20.000         2
                23.000         1
                46.000         1
Used            12.000      9169
                24.000      1129
                60.000       336
                36.000       157
                6.000        125
                48.000        66
                3.000         30
                18.000         8
                25.000         6
                72.000         6
                2.000          5
                20.000         5
                16.000         4
                23.000         4
Name: warranty, dtype: int64

In [73]:
# We made a search on the internet. We found at not all the cars on the autoscout platform have a warranty.
# We got contact with autoscout officials on the meaning of NaN values of warranty column in the dataset 
# and they stated that every new car has a warranty but not all used cars have a warranty. 
# So we have filled all of the used cars to '0' and apllied fillna method for other values median of the "warranty" column values by groupby value of the "type" and "age" column.

# **8.body_color**

In [74]:
check_df("body_color")

column name :  body_color
--------------------------------
Per_of_Nulls   :  % 3.75
Num_of_Nulls   :  597
Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64
******************************

In [75]:
check_df("body_color_original")

column name :  body_color_original
--------------------------------
Per_of_Nulls   :  % 23.71
Num_of_Nulls   :  3774
NaN                              3774
Onyx Schwarz                      338
Bianco                            282
Mythosschwarz Metallic            238
Brillantschwarz                   216
                                 ...
Rouge-Braun (G0Y)                   1
VARI COLRI DISPONIBILI              1
Kokosnussbraun Metallic             1
Farbe frei wählbar                  1
Perlmutt-Weiß Metallic (Weiß)       1
Name: body_color_original, Length: 1927, dtype: int64
******************************

In [76]:
df[df.body_color.isnull()]["body_color_original"].value_counts(dropna=False).head(60)

NaN                               205
wählbar - ggf. mit Aufpreis       118
wählbar                            88
Metallic o. Uni (wählbar)          33
wählbar - ggf gegen Aufpreis       25
Other                              14
mitoschwarz                         8
Smaragd Gruen (Mi)                  5
BLANCO ALPINO                       4
verschiedene Farben                 4
wählbar (bei Metallic +)            3
TEINTE CAISS                        3
Rouge Braun                         3
BLACK MEET KETTLE MET-4 (507B)      3
Kosmosblau Metallic                 3
(Silber) - Licht Grau               2
gletscherweiÃŸ                      2
Cronos / Negro Mito                 2
SWITCHBLADE SILVER MET (G)          2
Cortinaweiss                        2
NOIR MYTHIC METAL                   2
BLEU UTOPIA                         2
GDX Darkmoon Blue                   1
GF6 Satin Steel Grey                1
Hellelfenbein RAL 1015              1
SATIN STEEL GRAY MET-4 (501B)       1
Flip Chip met.                      1
GAN Sovereign Silver                1
YOU DRIVE ME GRAZY MET-4(509B)      1
Srebrny                             1
gris nano                           1
rot DeZir-Rot (NNP)                 1
Abalone Weiß                        1
Gris Platine (D69) Noir Etoi        1
GNE NOIR ETOILE                     1
NOIR AMETHYS                        1
Kng - Peinture Metallisee Gris      1
Noir EtoilÃ©                        1
GNE Noir Etoile                     1
ROUGE FLAMME                        1
wählbar -ggfl. mit Aufpreis         1
Gris Givre                          1
(NNP)                               1
Rouge Intens (NPK) Bleu Iron        1
Noir Etoilé (GNE) Gris Titan        1
Gris Titanium (KPN)                 1
ROUGE ATACAM                        1
FARBTON DER KAROSSERIE WEISS G      1
NOIR MTL                            1
GRIS ALU METALISE                   1
Plat.Anthr.                         1
GRJIS UNIVERSO                      1
ApfelgruenP2                        1
GRIS NANO                           1
Chronosgrau Metallic/Mythossch      1
Cortina White                       1
Nanograu Metallic / Brillantsc      1
Nanograu Metallic/Brillantschw      1
BLANC GLACIER / NOIR                1
Misanorot Perleffekt/Daytonagr      1
Name: body_color_original, dtype: int64

In [77]:
df.body_color = df.body_color.fillna(method="bfill")

In [78]:
check_df("body_color")

column name :  body_color
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Black     3888
Grey      3638
White     3540
Silver    1687
Blue      1524
Red        989
Brown      299
Green      163
Beige      108
Yellow      53
Violet      18
Bronze       7
Orange       3
Gold         2
Name: body_color, dtype: int64
******************************

# **9.paint_type**

In [79]:
check_df("paint_type")

column name :  paint_type
--------------------------------
Per_of_Nulls   :  % 36.26
Num_of_Nulls   :  5772
Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64
******************************

In [80]:
df.groupby("paint_type")["body_color_original"].value_counts(dropna=False).head(100)

paint_type  body_color_original
Metallic    NaN                       2005
            Onyx Schwarz               290
            Mythosschwarz Metallic     225
            Quarz Grau                 192
            Gris                       137
                                      ...
            Blauw                       15
            Kokosnuss Braun             15
            Kosmosblau                  15
            Manhattangrau Metallic      15
            Quarz-Grau                  15
Name: body_color_original, Length: 100, dtype: int64

In [81]:
df[df.paint_type.isnull()]["body_color_original"].value_counts().head(600)

Brillantschwarz                179
Bianco                         163
wählbar - ggf. mit Aufpreis    118
Blanco                         110
Grigio                          91
                              ...
SchneeWeiss/SummitWhite          1
SILBER / GRAU                    1
SUMMIT WHITE                     1
donkergrijs                      1
PLATA BLADE                      1
Name: body_color_original, Length: 600, dtype: int64

In [82]:
check_df("body_color_original")

column name :  body_color_original
--------------------------------
Per_of_Nulls   :  % 23.71
Num_of_Nulls   :  3774
NaN                              3774
Onyx Schwarz                      338
Bianco                            282
Mythosschwarz Metallic            238
Brillantschwarz                   216
                                 ...
Rouge-Braun (G0Y)                   1
VARI COLRI DISPONIBILI              1
Kokosnussbraun Metallic             1
Farbe frei wählbar                  1
Perlmutt-Weiß Metallic (Weiß)       1
Name: body_color_original, Length: 1927, dtype: int64
******************************

In [83]:
df.paint_type = df.paint_type.fillna(method="ffill")

In [84]:
check_df("paint_type")

column name :  paint_type
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Metallic       15261
Uni/basic        617
Perl effect       41
Name: paint_type, dtype: int64
******************************

# **10.body_color_original**

In [85]:
check_df("body_color_original")

column name :  body_color_original
--------------------------------
Per_of_Nulls   :  % 23.71
Num_of_Nulls   :  3774
NaN                              3774
Onyx Schwarz                      338
Bianco                            282
Mythosschwarz Metallic            238
Brillantschwarz                   216
                                 ...
Rouge-Braun (G0Y)                   1
VARI COLRI DISPONIBILI              1
Kokosnussbraun Metallic             1
Farbe frei wählbar                  1
Perlmutt-Weiß Metallic (Weiß)       1
Name: body_color_original, Length: 1927, dtype: int64
******************************

In [86]:
df.drop(columns="body_color_original", inplace=True)

In [87]:
# Since this column contains irrelevant values and the values are in German, we have dropped this column.

# **11.upholstery**

In [139]:
check_df("upholstery")

column name :  upholstery
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Cloth           11912
Part leather     1974
Full leather     1356
Other             507
Velour             96
alcantara          74
Name: upholstery, dtype: int64
******************************

In [88]:
import re 

def get_diff_category_column(Series:pd.Series, exclude=''',/\n''', pattern=r'''[,\n]| /''', strip='''\n' "!?|.,*+-_/][\\n''', diff_value=list()):  
    diff_value.clear()
    column = Series.dropna().apply(str).str.strip(strip)
    for row in column:
        if not any(x in exclude for x in row) and row not in diff_value:
            diff_value.append(row)
        else:
            for data in map(lambda x: x.strip(strip), filter(None, re.split(pattern, row))):
                if data not in diff_value:
                    diff_value.append(data)
    return dict(enumerate(sorted(diff_value)))

In [89]:
get_diff_category_column(df.extras)

{0: 'Alloy wheels',
 1: 'Cab or rented Car',
 2: 'Catalytic Converter',
 3: 'Handicapped enabled',
 4: 'Right hand drive',
 5: 'Roof rack',
 6: 'Shift paddles',
 7: 'Ski bag',
 8: 'Sliding door',
 9: 'Sport package',
 10: 'Sport seats',
 11: 'Sport suspensio',
 12: 'Touch scree',
 13: 'Trailer hitch',
 14: 'Tuned car',
 15: 'Voice Control',
 16: 'Winter tyres'}

In [90]:
get_diff_category_column(df["comfort&convenience"])

{0: 'Air conditioning',
 1: 'Air suspensio',
 2: 'Armrest',
 3: 'Automatic climate control',
 4: 'Auxiliary heating',
 5: 'Cruise control',
 6: 'Electric Starter',
 7: 'Electric tailgate',
 8: 'Electrical side mirrors',
 9: 'Electrically adjustable seats',
 10: 'Electrically heated windshield',
 11: 'Heads-up display',
 12: 'Heated steering wheel',
 13: 'Hill Holder',
 14: 'Keyless central door lock',
 15: 'Leather seats',
 16: 'Leather steering wheel',
 17: 'Light sensor',
 18: 'Lumbar support',
 19: 'Massage seats',
 20: 'Multi-function steering wheel',
 21: 'Navigation system',
 22: 'Panorama roof',
 23: 'Park Distance Control',
 24: 'Parking assist system camera',
 25: 'Parking assist system self-steering',
 26: 'Parking assist system sensors front',
 27: 'Parking assist system sensors rear',
 28: 'Power windows',
 29: 'Rain sensor',
 30: 'Seat heating',
 31: 'Seat ventilatio',
 32: 'Split rear seats',
 33: 'Start-stop system',
 34: 'Sunroof',
 35: 'Tinted windows',
 36: 'Wind deflector',
 37: 'Windshield'}

In [91]:
df["comfort&convenience"].str.contains('Leather seats').value_counts()

False    14951
True        48
Name: comfort&convenience, dtype: int64

In [92]:
df[df.upholstery.isnull()]["comfort&convenience"].str.contains("Leather seats").value_counts()

False    2939
True        2
Name: comfort&convenience, dtype: int64

In [93]:
df.upholstery.value_counts(dropna=False, normalize=True)

Cloth          0.578
NaN            0.234
Part leather   0.094
Full leather   0.063
Other          0.023
Velour         0.004
alcantara      0.004
Name: upholstery, dtype: float64

In [94]:
df.groupby(["make", "model", "price_€"])["upholstery"].fillna(method="pad").fillna(method="backfill").value_counts(dropna=False, normalize=True)

Cloth          0.748
Part leather   0.124
Full leather   0.085
Other          0.032
Velour         0.006
alcantara      0.005
Name: upholstery, dtype: float64

In [95]:
df.upholstery = df.groupby(["make", "model", "price_€"])["upholstery"].fillna(method="pad").fillna(method="backfill")

In [96]:
df.upholstery.isnull().sum()

0

In [97]:
# As the second option we can create an additional column according to "price_€" column("high", "medium", "low" price).
# We can fill NaN values of upholstery column by grouping this new column.

# **11.nr_of_doors**

In [98]:
check_df("nr_of_doors")

column name :  nr_of_doors
--------------------------------
Per_of_Nulls   :  % 1.33
Num_of_Nulls   :  212
5.000    11575
4.000     3079
3.000      832
2.000      219
NaN        212
1.000        1
7.000        1
Name: nr_of_doors, dtype: int64
******************************

In [99]:
pd.set_option('display.max_rows', 110)
pd.options.display.max_rows = 110

In [100]:
df.groupby(["make", "model", "body_type"])["nr_of_doors"].value_counts(dropna=False).head(50)

make  model  body_type      nr_of_doors
Audi  A1     Compact        5.000           666
                            4.000           207
                            3.000            80
                            2.000            69
                            NaN              17
             Coupe          2.000             1
                            5.000             1
             Other          5.000             8
                            4.000             5
             Sedans         5.000          1048
                            4.000           321
                            3.000           130
                            2.000            29
                            NaN              10
             Station wagon  5.000            17
                            4.000             3
                            3.000             1
             Van            5.000             1
      A2     Off-Road       5.000             1
      A3     Compact        5.000           164
                            3.000            11
                            4.000             6
                            NaN               1
             Convertible    2.000             7
                            5.000             1
             Coupe          3.000             4
             Other          5.000            10
                            3.000             3
                            2.000             2
                            4.000             1
             Sedans         5.000          1953
                            4.000           517
                            3.000            94
                            NaN              24
                            2.000            17
             Station wagon  5.000           169
                            4.000           110
                            NaN               1
                            2.000             1
                            3.000             1
Opel  Astra  Compact        5.000           180
                            4.000             5
             Coupe          3.000             1
                            5.000             1
             Off-Road       5.000             1
             Other          5.000            59
                            4.000             7
                            NaN               1
             Sedans         5.000           797
                            4.000           241
Name: nr_of_doors, dtype: int64

In [101]:
df[(df["make"] == "Opel") & (df["model"] == "Corsa") & (df["body_type"] == "Van")]

,body_type,price_€,vat,km,hp_kW,type,previous_owners,warranty,make,model,body_color,paint_type,upholstery,nr_of_doors,nr_of_seats,gearing_type,engine_displacement_cc,cylinders,weight_kg,drive_chain,fuel,co2e_g,emission_class,comfort&convenience,entertainment&media,extras,safety_&_security,gears,country_version,consumption_comb,consumption_city,consumption_country,age
8952,Van,7900.000,VAT deductible,33633.000,51.000,Used,1.000,12.000,Opel,Corsa,White,Metallic,Cloth,NaN,NaN,Manual,1229.000,NaN,1124.000,NaN,Benzine,NaN,NaN,"Air conditioning,Park Distance Control,Parking...",Bluetooth,NaN,"Central door lock,Driver-side airbag,Passenger...",NaN,Austria,NaN,NaN,NaN,3.000
8953,Van,7900.000,VAT deductible,33633.000,51.000,Used,1.000,12.000,Opel,Corsa,White,Metallic,Cloth,NaN,NaN,Manual,1229.000,NaN,1124.000,NaN,Benzine,NaN,NaN,"Air conditioning,Park Distance Control,Parking...",Bluetooth,NaN,"Central door lock,Driver-side airbag,Passenger...",NaN,Austria,NaN,NaN,NaN,3.000

In [102]:
# df[(df["make"] == "Opel") & (df["model"] == "Corsa") & (df["body_type"] == "Van")]["nr_of_doors"].fillna(5, inplace=True)

# Bu kod yine çalışmadı???

In [103]:
df.groupby(["make", "model"])["nr_of_doors"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr_of_doors"].mode()[0])).value_counts(dropna=False)

5.000    11787
4.000     3079
3.000      832
2.000      219
1.000        1
7.000        1
Name: nr_of_doors, dtype: int64

In [104]:
df["nr_of_doors"] = df.groupby(["make", "model"])["nr_of_doors"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr_of_doors"].mode()[0]))

In [105]:
check_df("nr_of_doors")

column name :  nr_of_doors
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
5.000    11787
4.000     3079
3.000      832
2.000      219
1.000        1
7.000        1
Name: nr_of_doors, dtype: int64
******************************

# **12.nr_of_seats**

In [106]:
check_df("nr_of_seats")

column name :  nr_of_seats
--------------------------------
Per_of_Nulls   :  % 6.14
Num_of_Nulls   :  977
5.000    13336
4.000     1125
NaN        977
7.000      362
2.000      116
6.000        2
3.000        1
Name: nr_of_seats, dtype: int64
******************************

In [107]:
df.groupby(["make", "model"])["nr_of_seats"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr_of_seats"].mode()[0])).value_counts(dropna=False)

5.000    14313
4.000     1125
7.000      362
2.000      116
6.000        2
3.000        1
Name: nr_of_seats, dtype: int64

In [108]:
df["nr_of_seats"] = df.groupby(["make", "model"])["nr_of_seats"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr_of_seats"].mode()[0]))

In [109]:
check_df("nr_of_seats")

column name :  nr_of_seats
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
5.000    14313
4.000     1125
7.000      362
2.000      116
6.000        2
3.000        1
Name: nr_of_seats, dtype: int64
******************************

# **13.cylinders**

In [111]:
check_df("cylinders")

column name :  cylinders
--------------------------------
Per_of_Nulls   :  % 35.68
Num_of_Nulls   :  5680
4.000    8105
NaN      5680
3.000    2104
5.000      22
6.000       3
8.000       2
2.000       2
1.000       1
Name: cylinders, dtype: int64
******************************

In [112]:
df.groupby(["make", "model", "hp_kW"])["cylinders"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["cylinders"].mode()[0])).value_counts(dropna=False)

4.000    12559
3.000     3325
5.000       22
8.000        7
6.000        3
2.000        2
1.000        1
Name: cylinders, dtype: int64

In [113]:
df["cylinders"] = df.groupby(["make", "model", "hp_kW"])["cylinders"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["cylinders"].mode()[0]))

In [114]:
check_df("cylinders")

column name :  cylinders
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
4.000    12559
3.000     3325
5.000       22
8.000        7
6.000        3
2.000        2
1.000        1
Name: cylinders, dtype: int64
******************************

# **14.engine_displacement_cc**

In [115]:
check_df("engine_displacement_cc")

column name :  engine_displacement_cc
--------------------------------
Per_of_Nulls   :  % 3.12
Num_of_Nulls   :  496
1598.000     4761
999.000      2438
1398.000     1314
1399.000      749
1229.000      677
1956.000      670
1461.000      595
1490.000      559
NaN           496
1422.000      467
1197.000      353
898.000       351
1395.000      320
1968.000      301
1149.000      288
1618.000      212
1798.000      210
1498.000      196
1600.000      130
1248.000      110
1997.000      103
1364.000      102
1400.000       90
998.000        72
1500.000       50
2000.000       46
1000.000       40
1.000          36
1998.000       25
2480.000       20
1200.000       18
1984.000       18
1397.000       11
899.000        11
160.000         6
929.000         5
1499.000        5
997.000         4
1596.000        4
139.000         4
900.000         4
1599.000        3
1199.000        3
1396.000        3
1495.000        2
1589.000        2
1300.000        2
2.000           2
995.000         2
1496.000        1
890.000         1
1580.000        1
1995.000        1
1333.000        1
54.000          1
1533.000        1
1100.000        1
1350.000        1
16000.000       1
1856.000        1
1568.000        1
1896.000        1
1584.000        1
996.000         1
1696.000        1
1686.000        1
15898.000       1
1368.000        1
140.000         1
973.000         1
1239.000        1
1369.000        1
1390.000        1
122.000         1
1198.000        1
1195.000        1
2967.000        1
1800.000        1
Name: engine_displacement_cc, dtype: int64
******************************

In [116]:
df.groupby(["make","model","cylinders", "hp_kW"])["engine_displacement_cc"].value_counts(dropna=False).head(60)

make  model  cylinders  hp_kW    engine_displacement_cc
Audi  A1     3.000      60.000   999.000                   148
                                 929.000                     4
                                 NaN                         2
                        66.000   1422.000                  453
                                 NaN                         5
                                 1596.000                    1
                                 1598.000                    1
                        67.000   1422.000                   12
                        70.000   999.000                   767
                                 NaN                         8
                                 1000.000                    5
                                 998.000                     2
                                 929.000                     1
                                 1197.000                    1
                        71.000   999.000                    53
                                 NaN                         3
                        85.000   999.000                   572
                                 1598.000                   73
                                 1000.000                    8
                                 NaN                         6
                                 995.000                     2
                                 1596.000                    1
                                 1600.000                    1
             4.000      60.000   999.000                     2
                        66.000   1598.000                    3
                                 1422.000                    2
                        70.000   999.000                     7
                                 1000.000                    1
                        85.000   1598.000                  222
                                 NaN                         3
                                 999.000                     1
                                 1600.000                    1
                        86.000   1598.000                    1
                        87.000   1598.000                    4
                        92.000   1395.000                  169
                                 999.000                     2
                                 NaN                         1
                        93.000   1395.000                    3
                        110.000  1498.000                   16
                                 1395.000                   14
                        112.000  1395.000                    1
                        140.000  NaN                         1
                        141.000  1798.000                   16
                        147.000  1984.000                   14
             8.000      70.000   999.000                     1
      A2     4.000      85.000   1598.000                    1
      A3     3.000      85.000   999.000                   361
                                 1000.000                    3
                                 NaN                         1
                                 997.000                     1
                                 1598.000                    1
                        96.000   999.000                     1
                        110.000  999.000                     3
                                 1499.000                    2
             4.000      9.000    NaN                         1
                        81.000   1598.000                  691
                                 1197.000                   35
                                 NaN                        29
                                 1395.000                   23
                                 1600.000                    5
Name: engine_displacement_cc, dtype: int64

In [117]:
df.groupby(["make", "model", "cylinders", "hp_kW"])["engine_displacement_cc"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["engine_displacement_cc"].mode()[0])).value_counts(dropna=False)

1598.000     4991
999.000      2463
1398.000     1348
1399.000      765
1229.000      708
1956.000      693
1461.000      642
1490.000      579
1422.000      472
898.000       387
1197.000      355
1395.000      325
1968.000      304
1149.000      290
1618.000      215
1798.000      214
1498.000      196
1600.000      130
1248.000      117
1364.000      104
1997.000      103
1400.000       90
998.000        72
1500.000       50
2000.000       46
1000.000       40
1.000          36
1998.000       26
2480.000       20
1200.000       18
1984.000       18
1397.000       11
899.000        11
160.000         6
929.000         5
1499.000        5
1596.000        4
139.000         4
900.000         4
997.000         4
1199.000        3
1599.000        3
1396.000        3
1495.000        2
1589.000        2
1300.000        2
2.000           2
995.000         2
1496.000        1
890.000         1
1580.000        1
1995.000        1
1333.000        1
54.000          1
1533.000        1
1100.000        1
1350.000        1
16000.000       1
1856.000        1
1568.000        1
1896.000        1
1584.000        1
996.000         1
1696.000        1
1686.000        1
15898.000       1
1368.000        1
140.000         1
973.000         1
1239.000        1
1369.000        1
1390.000        1
122.000         1
1198.000        1
1195.000        1
2967.000        1
1800.000        1
Name: engine_displacement_cc, dtype: int64

In [118]:
df.groupby(["make", "model", "cylinders", "hp_kW"])["engine_displacement_cc"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["engine_displacement_cc"].mode()[0]))

0       1422.000
1       1798.000
2       1598.000
3       1422.000
4       1422.000
          ...
15914   1997.000
15915   1798.000
15916   1997.000
15917   1997.000
15918   1798.000
Name: engine_displacement_cc, Length: 15919, dtype: float64

In [119]:
df["engine_displacement_cc"] = df.groupby(["make", "model", "cylinders", "hp_kW"])["engine_displacement_cc"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["engine_displacement_cc"].mode()[0]))

In [120]:
check_df("engine_displacement_cc")

column name :  engine_displacement_cc
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
1598.000     4991
999.000      2463
1398.000     1348
1399.000      765
1229.000      708
1956.000      693
1461.000      642
1490.000      579
1422.000      472
898.000       387
1197.000      355
1395.000      325
1968.000      304
1149.000      290
1618.000      215
1798.000      214
1498.000      196
1600.000      130
1248.000      117
1364.000      104
1997.000      103
1400.000       90
998.000        72
1500.000       50
2000.000       46
1000.000       40
1.000          36
1998.000       26
2480.000       20
1200.000       18
1984.000       18
1397.000       11
899.000        11
160.000         6
929.000         5
1499.000        5
1596.000        4
139.000         4
900.000         4
997.000         4
1199.000        3
1599.000        3
1396.000        3
1495.000        2
1589.000        2
1300.000        2
2.000           2
995.000         2
1496.000        1
890.000         1
1580.000        1
1995.000        1
1333.000        1
54.000          1
1533.000        1
1100.000        1
1350.000        1
16000.000       1
1856.000        1
1568.000        1
1896.000        1
1584.000        1
996.000         1
1696.000        1
1686.000        1
15898.000       1
1368.000        1
140.000         1
973.000         1
1239.000        1
1369.000        1
1390.000        1
122.000         1
1198.000        1
1195.000        1
2967.000        1
1800.000        1
Name: engine_displacement_cc, dtype: int64
******************************

# **15.weight_kg**

In [121]:
#bu satıra tekrar bakılacak

In [122]:
check_df("weight_kg")

column name :  weight_kg
--------------------------------
Per_of_Nulls   :  % 43.81
Num_of_Nulls   :  6974
NaN         6974
1163.000     574
1360.000     356
1165.000     301
1335.000     242
            ...
1960.000       1
1258.000       1
1167.000       1
1331.000       1
2037.000       1
Name: weight_kg, Length: 435, dtype: int64
******************************

In [123]:
#df.groupby(["make", "model", "body_type"])["weight_kg"].apply(lambda x : x.fillna(x.mean() if any(x.mean()) else df["weight_kg"].mean())).value_counts(dropna=False)

# **18.drive_chain**

In [124]:
check_df("drive_chain")

column name :  drive_chain
--------------------------------
Per_of_Nulls   :  % 43.08
Num_of_Nulls   :  6858
front    8886
NaN      6858
4WD       171
rear        4
Name: drive_chain, dtype: int64
******************************

In [125]:
df.groupby(["make", "model", "body_type"])["drive_chain"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["drive_chain"].mode()[0])).value_counts(dropna=False)

front    15711
4WD        204
rear         4
Name: drive_chain, dtype: int64

In [126]:
df["drive_chain"] = df.groupby(["make", "model", "body_type"])["drive_chain"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["drive_chain"].mode()[0]))

In [127]:
check_df("drive_chain")

column name :  drive_chain
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
front    15711
4WD        204
rear         4
Name: drive_chain, dtype: int64
******************************

# **19.co2e_g**

In [128]:
check_df("co2e_g")

column name :  co2e_g
--------------------------------
Per_of_Nulls   :  % 15.34
Num_of_Nulls   :  2442
NaN         2442
120.000      740
99.000       545
97.000       537
104.000      501
            ...
160.000        1
331.000        1
990.000        1
1060.000       1
193.000        1
Name: co2e_g, Length: 120, dtype: int64
******************************

In [129]:
df.fuel.value_counts()

Benzine     8551
Diesel      7299
LPG/CNG       64
Electric       5
Name: fuel, dtype: int64

In [130]:
df.groupby(["make", "model", "fuel"])["co2e_g"].value_counts(dropna=False)

make     model   fuel     co2e_g
Audi     A1      Benzine  97.000     287
                          NaN        238
                          102.000    229
                          108.000    195
                          111.000    181
                                    ...
Renault  Espace  Diesel   191.000      2
                          117.000      1
                          122.000      1
                          140.000      1
                          174.000      1
Name: co2e_g, Length: 516, dtype: int64

In [131]:
df.groupby(["make", "model", "fuel"])["co2e_g"].mean()

make     model     fuel
Audi     A1        Benzine    106.337
                   Diesel     100.101
         A2        Diesel         NaN
         A3        Benzine    116.421
                   Diesel     106.831
                   Electric    36.000
                   LPG/CNG     97.000
Opel     Astra     Benzine    154.590
                   Diesel     105.849
                   LPG/CNG    113.000
         Corsa     Benzine    136.407
                   Diesel      99.456
                   LPG/CNG    117.667
         Insignia  Benzine    176.918
                   Diesel     132.546
Renault  Clio      Benzine    122.653
                   Diesel      89.530
                   Electric       NaN
                   LPG/CNG     98.000
         Duster    Benzine    177.000
         Espace    Benzine    155.903
                   Diesel     124.425
Name: co2e_g, dtype: float64